FORMAT: 1A
HOST: https://kratos.website

# Kratos API

Kratos API documentation.

## Group Root

## Kratos API Root [/]

This resource does not have any attributes. Instead it offers a short welcome message.

## Retrieve the Entry Point [GET]

+ Response 200 (application/json)

        {
            "Welcome to the Kratos API!"
        }

## Group User

Resources related users, on-boarding, and registration.

## Register [/api/registrations]

Register and modify user's information.

### Create A New User Registration [POST]

+ Request (application/json)

    + Attributes(object)

        + user
            + first_name: `Eric` (string, required)
            + last_name: `Andre` (string, required)
            + phone: `1234567890` (number, required)
            + password: `password` (string, required)
            + address: `700 Ranch` (string)
            + city: `Brooklyn` (string)
            + state: `NY` (string)
            + zip: `11211` (number)

+ Response 200 (application/json)

            {
              "user": {
                "zip": 11211,
                "state": "NY",
                "phone": 1234567890,
                "last_name": "Andre",
                "id": 4,
                "first_name": "Eric",
                "district": 7,
                "city": "Brooklyn",
                "address": "700 Ranch"
              },
              "token": "eyJhbGciOiguyagiuafhkugafI6IkpXVCJ9.eygiluafglafhufaleHAiOjE0NzU5ODk1NjMsImlhdCI6MTQ3MzM5NzU2MywiaXNzIjoiS3JhdG9zQXBpRGV2IiwianRpIjoiYmI2NjY1YjEtMjFlMi00YjFkLTlmMzEtY2U5NWU3NTdmMWNjIiwicGVtIahdgjghjkafbhjafwIjoidG9rZW4ifQ.y5oGphNTemlGLU3xhnPc5qplkLLK5hw2RmIZrbm_pc-ThjkafjkafnjlYOMpNcNVhcfJzQZjwY3o3BJUUfhYA"
            }

## Login [/api/login]

Login and existing user and start a session.

### Login & Create a New Session [POST]

+ Request (application/json)

    + Attributes(object)

        + session
            + phone: `1234567890` (number, required)
            + password: `password` (string, required)

+ Response 200 (application/json)

            {
              "user": {
                "zip": 11211,
                "state": "NY",
                "phone": 1234567890,
                "last_name": "Andre",
                "id": 4,
                "first_name": "Eric",
                "district": 7,
                "city": "Brooklyn",
                "address": "700 Ranch"
              },
              "token": "eyJhbGciOiguyagiuafhkugafI6IkpXVCJ9.eygiluafglafhufaleHAiOjE0NzU5ODk1NjMsImlhdCI6MTQ3MzM5NzU2MywiaXNzIjoiS3JhdG9zQXBpRGV2IiwianRpIjoiYmI2NjY1YjEtMjFlMi00YjFkLTlmMzEtY2U5NWU3NTdmMWNjIiwicGVtIahdgjghjkafbhjafwIjoidG9rZW4ifQ.y5oGphNTemlGLU3xhnPc5qplkLLK5hw2RmIZrbm_pc-ThjkafjkafnjlYOMpNcNVhcfJzQZjwY3o3BJUUfhYA"
            }

## Me [/api/me]

Get information on the current user based on the session.

### Current User information [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Response 200 (application/json)

            {
              "zip": 11211,
              "state": "NY",
              "phone": 1234567890,
              "last_name": "Andre",
              "id": 4,
              "first_name": "Eric",
              "district": 7,
              "city": "Brooklyn",
              "address": "700 Ranch"
            }



## Group Districts

Resources related congressional districts.

## Show District [/api/districts/{state}/{id}]

Find information and representatives for a congressional district.

### Show Congressional District [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Parameters

    + state: `NY` (string, required) - state abbreviation.
    + id: `7` (number, required) - number for the congressional district.

+ Response 200 (application/json)

            {
              "pagination": [
                {
                  "url": "/api/districts/ny/12?id=12&page=1&state=ny",
                  "page": 1,
                  "label": "1",
                  "current": true
                }
              ],
              "data": [
                {
                  "website": "https://www.schumer.senate.gov",
                  "title_long": "Senator",
                  "title": "Sen.",
                  "state": "NY",
                  "startdate": "2011-01-05",
                  "senator_rank_label": "Senior",
                  "senator_rank": "senior",
                  "senator_class_label": "Class 3",
                  "senator_class": "class3",
                  "role_type_label": "Senator",
                  "role_type": "senator",
                  "phone": "202-224-6542",
                  "person": {
                    "youtubeid": "SenatorSchumer",
                    "twitterid": "SenSchumer",
                    "sortname": "Schumer, Charles “Chuck” (Sen.) [D-NY]",
                    "roles": [],
                    "pvsid": "26976",
                    "osid": "N00001093",
                    "nickname": "Chuck",
                    "namemod": null,
                    "name": "Sen. Charles “Chuck” Schumer [D-NY]",
                    "middlename": "E.",
                    "link": "https://www.govtrack.us/congress/members/charles_schumer/300087",
                    "lastname": "Schumer",
                    "image_url": "https://theunitedstates.io/images/congress/225x275/S000148.jpg",
                    "govtrack_id": 300087,
                    "gender_label": "Male",
                    "gender": "male",
                    "firstname": "Charles",
                    "current_state": "NY",
                    "current_party": "D",
                    "cspanid": 5929,
                    "birthday": "1950-11-23",
                    "bioguideid": "S000148"
                  },
                  "party": "Democrat",
                  "leadership_title": null,
                  "govtrack_id": 4282,
                  "extra": {
                    "office": "322 Hart Senate Office Building",
                    "fax": "202-228-3027",
                    "contact_form": "http://www.schumer.senate.gov/Contact/email-chuck",
                    "address": "322 Hart Senate Office Building Washington DC 20510"
                  },
                  "enddate": "2017-01-03",
                  "district": null,
                  "description": "Senior Senator from New York",
                  "current": true,
                  "congress_numbers": [
                    112,
                    113,
                    114
                  ],
                  "caucus": null
                }
              ]
            }

## Group Representatives

Information related congressional representatives.

## Representative [/api/representatives/{id}/votes]

### Get Voting Record [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id: `412223` (number, required) - representative's Govtrack ID.

+ Response 200 (application/json)

            [
                {
                    "vote_type": "On the Conference Report",
                    "vote": 118659,
                    "value": "Yea",
                    "total_plus": 92,
                    "total_other": 6,
                    "total_minus": 2,
                    "source_label": "senate.gov",
                    "source": "senate",
                    "session": "2016",
                    "result": "Conference Report Agreed to",
                    "required": "1/2",
                    "related_bill": 336967,
                    "related_amendment": null,
                    "question_title": "Comprehensive Addiction and Recovery Act of 2016",
                    "question_details": "On the Conference Report in the Senate",
                    "question_code": "S. 524",
                    "question": "S. 524: Comprehensive Addiction and Recovery Act of 2016",
                    "percent_plus": 0.92,
                    "number": 129,
                    "missing_data": false,
                    "margin": 0.957447,
                    "link": "https://www.govtrack.us/congress/votes/114-2016/s129",
                    "key": "+",
                    "id": 118659,
                    "created": "2016-07-13T18:20:00",
                    "congress": 114,
                    "chamber_label": "Senate",
                    "chamber": "senate",
                    "category_label": "Passage",
                    "category": "passage"
                },
            ]

## Group Bills

Resources related congressional bills & resolutions.

## Bill [/api/bills/{id}]

### Get Detailed Bill Information [GET]

+ Request
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id: `1` (number, required) - bill's ID.

+ Response 200 (application/json)

            {
              "vetoed": false,
              "urls": null,
              "type": "hr",
              "top_term": "Taxation",
              "titles": [
                {
                  "type": "official",
                  "title": "To amend the Internal Revenue Code of 1986 to exempt amounts paid for aircraft management services from the excise taxes imposed on transportation by air.",
                  "is_for_portion": false,
                  "as": "introduced"
                }
              ],
              "summary_text": "(Sec. 1) This bill amends the Internal Revenue Code to exempt from the excise tax on transportation of persons and property by air amounts paid by an aircraft owner or lessee for aircraft management services related to maintenance and support of the aircraft or flights on such aircraft.\n\nAircraft management services include assisting an aircraft owner with administrative and support services; obtaining insurance; maintenance, storage and fueling of aircraft; hiring, training, and provision of pilots and crew; establishing and complying with safety standards; or other services necessary to support flights operated by an aircraft owner.\n\nIn the case of an aircraft owner that is wholly-owned by another person, amounts paid by the other person on behalf of the aircraft owner must be treated as having been paid directly by the aircraft owner.",
              "summary_date": null,
              "subjects": [
                "Aviation and airports",
                "Sales and excise taxes",
                "Taxation",
                "Transportation safety and security"
              ],
              "status_at": "2016-07-13",
              "status": "REPORTED",
              "sponsor": {
                "youtubeid": "PatTiberi",
                "twitterid": "TiberiPress",
                "sortname": "Tiberi, Patrick “Pat” (Rep.) [R-OH12]",
                "roles": [
                  {
                    "website": "http://tiberi.house.gov",
                    "title_long": "Representative",
                    "title": "Rep.",
                    "state": "OH",
                    "startdate": "2015-01-06",
                    "senator_rank_label": null,
                    "senator_rank": null,
                    "senator_class_label": null,
                    "senator_class": null,
                    "role_type_label": "Representative",
                    "role_type": "representative",
                    "phone": "202-225-5355",
                    "party": "Republican",
                    "leadership_title": null,
                    "govtrack_id": 43398,
                    "extra": {
                      "rss_url": "http://tiberi.house.gov/news/rss.aspx",
                      "office": "1203 Longworth House Office Building",
                      "fax": "202-226-4523",
                      "contact_form": "https://tiberi.house.gov/contact/contactform.htm",
                      "address": "1203 Longworth HOB; Washington DC 20515-3512"
                    },
                    "enddate": "2017-01-03",
                    "district": 12,
                    "description": "Representative for Ohio's 12th congressional district",
                    "current": true,
                    "caucus": null
                  }
                ],
                "pvsid": "8404",
                "osid": "N00009699",
                "nickname": "Pat",
                "namemod": null,
                "name": "Rep. Patrick “Pat” Tiberi [R-OH12]",
                "middlename": "J.",
                "link": "https://www.govtrack.us/congress/members/patrick_tiberi/400406",
                "lastname": "Tiberi",
                "image_url": "https://theunitedstates.io/images/congress/225x275/T000462.jpg",
                "govtrack_id": 400406,
                "gender_label": "Male",
                "gender": "male",
                "firstname": "Patrick",
                "current_state": "OH12",
                "current_party": "R",
                "cspanid": 88155,
                "birthday": "1962-10-21",
                "bioguideid": "T000462"
              },
              "short_title": null,
              "related_bills": [
                {
                  "type": "bill",
                  "reason": "identical",
                  "identified_by": "CRS",
                  "bill_id": "s2092-114"
                }
              ],
              "popular_title": null,
              "official_title": "To amend the Internal Revenue Code of 1986 to exempt amounts paid for aircraft management services from the excise taxes imposed on transportation by air.",
              "number": "3608",
              "introduced_at": "2015-09-24",
              "history": {
                "vetoed": false,
                "enacted": false,
                "awaiting_signature": false,
                "active_at": "2016-07-13",
                "active": true
              },
              "gpo_id": "hr3608-114",
              "gpo_data_updated_at": "2016-11-14T15:01:09",
              "enacted_as": null,
              "enacted": false,
              "cosponsors": [
                {
                  "youtubeid": null,
                  "twitterid": "RepBeatty",
                  "sortname": "Beatty, Joyce (Rep.) [D-OH3]",
                  "roles": [
                    {
                      "website": "http://beatty.house.gov",
                      "title_long": "Representative",
                      "title": "Rep.",
                      "state": "OH",
                      "startdate": "2015-01-06",
                      "senator_rank_label": null,
                      "senator_rank": null,
                      "senator_class_label": null,
                      "senator_class": null,
                      "role_type_label": "Representative",
                      "role_type": "representative",
                      "phone": "202-225-4324",
                      "party": "Democrat",
                      "leadership_title": null,
                      "govtrack_id": 43641,
                      "extra": {
                        "rss_url": "http://beatty.house.gov/rss.xml",
                        "office": "133 Cannon House Office Building",
                        "fax": "202-225-1984",
                        "contact_form": "https://beattyforms.house.gov/forms/writeyourrep/",
                        "address": "133 Cannon HOB; Washington DC 20515-3503"
                      },
                      "enddate": "2017-01-03",
                      "district": 3,
                      "description": "Representative for Ohio's 3rd congressional district",
                      "current": true,
                      "caucus": null
                      }
                  ],
                  "pvsid": "2427",
                  "osid": "N00033904",
                  "nickname": null,
                  "namemod": null,
                  "name": "Rep. Joyce Beatty [D-OH3]",
                  "middlename": null,
                  "link": "https://www.govtrack.us/congress/members/joyce_beatty/412565",
                  "lastname": "Beatty",
                  "image_url": "https://theunitedstates.io/images/congress/225x275/B001281.jpg",
                  "govtrack_id": 412565,
                  "gender_label": "Female",
                  "gender": "female",
                  "firstname": "Joyce",
                  "current_state": "OH3",
                  "current_party": "D",
                  "cspanid": 67294,
                  "birthday": "1950-03-12",
                  "bioguideid": "B001281"
                }
              ],
              "congress_number": 114,
              "committees": [
                {
                "url": "http://waysandmeans.house.gov/",
                "sub_committees": [],
                "parent": [],
                "obsolete": false,
                "name": "House Committee on Ways and Means",
                "jurisdiction_link": "http://waysandmeans.house.gov/about/history.htm",
                "jurisdiction": "The Committee on Ways and Means is the oldest committee of the United States Congress, and is the chief tax-writing committee in the House of Representatives. The Committee derives a large share of its jurisdiction from Article I, Section VII of the U.S. Constitution which declares, “All Bills for raising Revenue shall originate in the House of Representatives.”",
                "govtrack_id": 2779,
                "committee_type_label": "House",
                "committee_type": "house",
                "code": "HSWM",
                "abbrev": "W&M"
                }
              ],
              "committee_history": [
                {
                  "committee_id": "HSWM",
                  "committee": "House Ways and Means",
                  "activity": [
                    "reporting",
                    "markup",
                    "referral"
                  ]
                }
              ],
              "awaiting_signature": false,
              "amendments": [],
              "active": true,
              "actions": [
                {
                  "type": "action",
                  "text": "Introduced in House",
                  "references": [],
                  "action_code": "Intro-H",
                  "acted_at": "2015-09-24"
                }
              ]
            }
