FORMAT: 1A
HOST: https://kratos.website

# Kratos API

Kratos API documentation.

## Group Root

## Kratos API Root [/]

This resource does not have any attributes. Instead it offers a short welcome message.

## Retrieve the Entry Point [GET]

+ Response 200 (application/json)

        {
            "Welcome to the Kratos API!"
        }

## Group User

Resources related users, on-boarding, and registration.

## Register [/api/registrations]

Register and modify user's information.

### Create A New User Registration [POST]

+ Request (application/json)

    + Attributes(object)

        + user
            + first_name: `Eric` (string, required)
            + last_name: `Andre` (string, required)
            + phone: `1234567890` (number, required)
            + password: `password` (string, required)
            + address: `700 Ranch` (string)
            + city: `Brooklyn` (string)
            + state: `NY` (string)
            + zip: `11211` (number)

+ Response 200 (application/json)

            {
              "user": {
                "zip": 11211,
                "state": "NY",
                "phone": 1234567890,
                "last_name": "Andre",
                "id": 4,
                "first_name": "Eric",
                "district": 7,
                "city": "Brooklyn",
                "address": "700 Ranch"
              },
              "token": "eyJhbGciOiguyagiuafhkugafI6IkpXVCJ9.eygiluafglafhufaleHAiOjE0NzU5ODk1NjMsImlhdCI6MTQ3MzM5NzU2MywiaXNzIjoiS3JhdG9zQXBpRGV2IiwianRpIjoiYmI2NjY1YjEtMjFlMi00YjFkLTlmMzEtY2U5NWU3NTdmMWNjIiwicGVtIahdgjghjkafbhjafwIjoidG9rZW4ifQ.y5oGphNTemlGLU3xhnPc5qplkLLK5hw2RmIZrbm_pc-ThjkafjkafnjlYOMpNcNVhcfJzQZjwY3o3BJUUfhYA"
            }

## Login [/api/login]

Login and existing user and start a session.

### Login & Create a New Session [POST]

+ Request (application/json)

    + Attributes(object)

        + session
            + phone: `1234567890` (number, required)
            + password: `password` (string, required)

+ Response 200 (application/json)

            {
              "user": {
                "zip": 11211,
                "state": "NY",
                "phone": 1234567890,
                "last_name": "Andre",
                "id": 4,
                "first_name": "Eric",
                "district": 7,
                "city": "Brooklyn",
                "address": "700 Ranch"
              },
              "token": "eyJhbGciOiguyagiuafhkugafI6IkpXVCJ9.eygiluafglafhufaleHAiOjE0NzU5ODk1NjMsImlhdCI6MTQ3MzM5NzU2MywiaXNzIjoiS3JhdG9zQXBpRGV2IiwianRpIjoiYmI2NjY1YjEtMjFlMi00YjFkLTlmMzEtY2U5NWU3NTdmMWNjIiwicGVtIahdgjghjkafbhjafwIjoidG9rZW4ifQ.y5oGphNTemlGLU3xhnPc5qplkLLK5hw2RmIZrbm_pc-ThjkafjkafnjlYOMpNcNVhcfJzQZjwY3o3BJUUfhYA"
            }

## Me [/api/me]

Get information on the current user based on the session.

### Current User information [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Response 200 (application/json)

            {
              "zip": 11211,
              "state": "NY",
              "phone": 1234567890,
              "last_name": "Andre",
              "id": 4,
              "first_name": "Eric",
              "district": 7,
              "city": "Brooklyn",
              "address": "700 Ranch"
            }



## Group Districts

Resources related congressional districts.

## Show District [/api/districts/{state}/{id}]

Find information and representatives for a congressional district.

### Show Congressional District [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Parameters

    + state: `NY` (string, required) - state abbreviation.
    + id: `7` (number, required) - number for the congressional district.

+ Response 200 (application/json)

            {
              "pagination": [
                {
                  "url": "/api/districts/ny/12?id=12&page=1&state=ny",
                  "page": 1,
                  "label": "1",
                  "current": true
                }
              ],
              "data": [
                {
                  "website": "https://www.schumer.senate.gov",
                  "title_long": "Senator",
                  "title": "Sen.",
                  "state": "NY",
                  "startdate": "2011-01-05",
                  "senator_rank_label": "Senior",
                  "senator_rank": "senior",
                  "senator_class_label": "Class 3",
                  "senator_class": "class3",
                  "role_type_label": "Senator",
                  "role_type": "senator",
                  "phone": "202-224-6542",
                  "person": {
                    "youtubeid": "SenatorSchumer",
                    "twitterid": "SenSchumer",
                    "sortname": "Schumer, Charles “Chuck” (Sen.) [D-NY]",
                    "roles": [],
                    "pvsid": "26976",
                    "osid": "N00001093",
                    "nickname": "Chuck",
                    "namemod": null,
                    "name": "Sen. Charles “Chuck” Schumer [D-NY]",
                    "middlename": "E.",
                    "link": "https://www.govtrack.us/congress/members/charles_schumer/300087",
                    "lastname": "Schumer",
                    "image_url": "https://theunitedstates.io/images/congress/225x275/S000148.jpg",
                    "govtrack_id": 300087,
                    "gender_label": "Male",
                    "gender": "male",
                    "firstname": "Charles",
                    "current_state": "NY",
                    "current_party": "D",
                    "cspanid": 5929,
                    "birthday": "1950-11-23",
                    "bioguideid": "S000148"
                  },
                  "party": "Democrat",
                  "leadership_title": null,
                  "govtrack_id": 4282,
                  "extra": {
                    "office": "322 Hart Senate Office Building",
                    "fax": "202-228-3027",
                    "contact_form": "http://www.schumer.senate.gov/Contact/email-chuck",
                    "address": "322 Hart Senate Office Building Washington DC 20510"
                  },
                  "enddate": "2017-01-03",
                  "district": null,
                  "description": "Senior Senator from New York",
                  "current": true,
                  "congress_numbers": [
                    112,
                    113,
                    114
                  ],
                  "caucus": null
                }
              ]
            }

## Group Representatives

Information related congressional representatives.

## Representative [/api/representatives/{id}/votes]

### Get Voting Record [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id: `412223` (number, required) - representative's Govtrack ID.

+ Response 200 (application/json)

            {
              "pagination": [
                {
                  "url": "/api/representatives/19/votes?id=19&page=1",
                  "page": 1,
                  "label": "1",
                  "current": true
                }
              ],
              "data": {
                "voting_record": [
                  {
                    "value": "Yea",
                    "tally": {
                      "type": "On the Nomination",
                      "treaty": null,
                      "subject": "Confirmation Peter Michael McKinley, of Virginia, to be Ambassador to the Federative Republic of Brazil",
                      "source_url": "http://www.senate.gov/legislative/LIS/roll_call_votes/vote1142/vote_114_2_00137.xml",
                      "session": "2016",
                      "result_text": "Nomination Confirmed (92-0)",
                      "result": "Nomination Confirmed",
                      "requires": "1/2",
                      "record_updated_at": null,
                      "question": "On the Nomination PN1500: Peter Michael McKinley, of Virginia, to be Ambassador to the Federative Republic of Brazil",
                      "number": 137,
                      "gpo_id": "s137-114.2016",
                      "date": "2016-09-08T13:46:00",
                      "chamber": "Senate",
                      "category": "nomination",
                      "amendment": null
                    }
                  }
                ],
                "person": {
                  "youtubeid": "SenatorSchumer",
                  "twitterid": "SenSchumer",
                  "sortname": "Schumer, Charles “Chuck” (Sen.) [D-NY]",
                  "roles": [
                    {
                      "website": "https://www.schumer.senate.gov",
                      "title_long": "Senator",
                      "title": "Sen.",
                      "state": "NY",
                      "startdate": "2011-01-05",
                      "senator_rank_label": "Senior",
                      "senator_rank": "senior",
                      "senator_class_label": "Class 3",
                      "senator_class": "class3",
                      "role_type_label": "Senator",
                      "role_type": "senator",
                      "phone": "202-224-6542",
                      "party": "Democrat",
                      "leadership_title": null,
                      "govtrack_id": 4282,
                      "extra": {
                        "office": "322 Hart Senate Office Building",
                        "fax": "202-228-3027",
                        "contact_form": "http://www.schumer.senate.gov/Contact/email-chuck",
                        "address": "322 Hart Senate Office Building Washington DC 20510"
                      },
                      "enddate": "2017-01-03",
                      "district": null,
                      "description": "Senior Senator from New York",
                      "current": true,
                      "caucus": null
                    }
                  ],
                  "pvsid": "26976",
                  "osid": "N00001093",
                  "nickname": "Chuck",
                  "namemod": null,
                  "name": "Sen. Charles “Chuck” Schumer [D-NY]",
                  "middlename": "E.",
                  "link": "https://www.govtrack.us/congress/members/charles_schumer/300087",
                  "lastname": "Schumer",
                  "image_url": "https://theunitedstates.io/images/congress/225x275/S000148.jpg",
                  "govtrack_id": 300087,
                  "gender_label": "Male",
                  "gender": "male",
                  "firstname": "Charles",
                  "current_state": "NY",
                  "current_party": "D",
                  "cspanid": 5929,
                  "birthday": "1950-11-23",
                  "bioguideid": "S000148"
                }
              }
            }

## Group Bills

Resources related congressional bills & resolutions.

## Bill [/api/bills/{id}]

### Get Detailed Bill Information [GET]

+ Request
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id: `1` (number, required) - bill's ID.

+ Response 200 (application/json)

            {
              "vetoed": false,
              "urls": null,
              "type": "s",
              "top_term": "Energy",
              "titles": [
                {
                  "type": "short",
                  "title": "Energy Policy Modernization Act of 2015",
                  "is_for_portion": false,
                  "as": "introduced"
                },

              ],
              "tallies": [
                {
                  "Yea": 70,
                  "Not Voting": 2,
                  "Nay": 9,
                  "votes": [
                    {
                      "value": "Yea",
                      "person_name": "Sen. Ron Wyden [D-OR]",
                      "person_image": "https://theunitedstates.io/images/congress/225x275/W000779.jpg"
                    },
                    {
                      "value": "Not Voting",
                      "person_name": "Sen. Ted Cruz [R-TX]",
                      "person_image": "https://theunitedstates.io/images/congress/225x275/C001098.jpg"
                    },
                    {
                      "value": "Nay",
                      "person_name": "Sen. Jefferson “Jeff” Sessions [R-AL]",
                      "person_image": "https://theunitedstates.io/images/congress/225x275/S001141.jpg"
                    }
                  ],
                  "type": "On Passage of the Bill",
                  "treaty": null,
                  "subject": "S. 2012, As Amended",
                  "source_url": "http://www.senate.gov/legislative/LIS/roll_call_votes/vote1142/vote_114_2_00054.xml",
                  "session": "2016",
                  "result_text": "Bill Passed (85-12)",
                  "result": "Bill Passed",
                  "requires": "1/2",
                  "record_updated_at": null,
                  "question": "On Passage of the Bill S. 2012",
                  "number": 54,
                  "gpo_id": "s54-114.2016",
                  "date": "2016-04-20T10:01:00",
                  "chamber": "Senate",
                  "category": "passage",
                  "amendment": null
                }
              ],
              "summary_text": "Energy Policy Modernization Act of 2015\n\nThis bill amends the Energy Conservation and Production Act, the Energy Policy and Conservation Act (EPCA), and the Energy Independence and Security Act of 2007 with respect to energy efficiency in buildings and appliances.\n\nThe Office of Energy Efficiency and Renewable Energy of the Department of Energy (DOE) shall conduct activities with respect to manufacturing energy efficiency.\n\nVehicle Innovation Act of 2015\n\nDOE shall conduct research, development, engineering, demonstration, and commercial application programs regarding passenger as well as medium- and heavy-duty commercial vehicles and transit vehicles. . .",
              "summary_date": "2015-09-09T04:00:00",
              "subjects": [
                "Wildlife conservation and habitat protection",
              ],
              "status_at": null,
              "status": "PASS_BACK:HOUSE",
              "sponsor": {
                "youtubeid": "senatormurkowski",
                "twitterid": "LisaMurkowski",
                "sortname": "Murkowski, Lisa (Sen.) [R-AK]",
                "roles": [
                  {
                    "website": "https://www.murkowski.senate.gov",
                    "title_long": "Senator",
                    "title": "Sen.",
                    "state": "AK",
                    "startdate": "2011-01-05",
                    "senator_rank_label": "Senior",
                    "senator_rank": "senior",
                    "senator_class_label": "Class 3",
                    "senator_class": "class3",
                    "role_type_label": "Senator",
                    "role_type": "senator",
                    "phone": "202-224-6665",
                    "party": "Republican",
                    "leadership_title": null,
                    "govtrack_id": 4209,
                    "extra": {
                      "rss_url": "http://www.murkowski.senate.gov/public/?a=rss.feed",
                      "office": "709 Hart Senate Office Building",
                      "fax": "202-224-5301",
                      "contact_form": "http://www.murkowski.senate.gov/public/index.cfm?p=EMailLisa",
                      "address": "709 Hart Senate Office Building Washington DC 20510"
                    },
                    "enddate": "2017-01-03",
                    "district": null,
                    "description": "Senior Senator from Alaska",
                    "current": true,
                    "caucus": null
                  }
                ],
                "pvsid": "15841",
                "osid": "N00026050",
                "nickname": null,
                "namemod": null,
                "name": "Sen. Lisa Murkowski [R-AK]",
                "middlename": "A.",
                "link": "https://www.govtrack.us/congress/members/lisa_murkowski/300075",
                "lastname": "Murkowski",
                "image_url": "https://theunitedstates.io/images/congress/225x275/M001153.jpg",
                "govtrack_id": 300075,
                "gender_label": "Female",
                "gender": "female",
                "firstname": "Lisa",
                "current_state": "AK",
                "current_party": "R",
                "cspanid": 1004138,
                "birthday": "1957-05-22",
                "bioguideid": "M001153"
              },
              "short_title": "Energy Policy Modernization Act of 2016",
              "related_bills": [
                {
                  "related_bill_id": 5908,
                  "reason": "related"
                },
              ],
              "popular_title": null,
              "official_title": "An original bill to provide for the modernization of the energy policy of the United States, and for other purposes.",
              "number": "2012",
              "introduced_at": "2015-09-09",
              "history": {
                "vetoed": false,
                "senate_passage_result_at": "2016-04-20",
                "senate_passage_result": "pass",
                "house_passage_result_at": "2016-05-25T17:31:47-04:00",
                "house_passage_result": "pass",
                "enacted": false,
                "awaiting_signature": false,
                "active_at": "2015-09-09",
                "active": true
              },
              "gpo_id": "s2012-114",
              "gpo_data_updated_at": "2016-11-08T15:21:21",
              "enacted_as": null,
              "enacted": false,
              "cosponsors": [],
              "congress_number": 114,
              "committees": [
                {
                  "url": "http://energy.senate.gov/",
                  "sub_committees": [],
                  "parent": [],
                  "obsolete": false,
                  "name": "Senate Committee on Energy and Natural Resources",
                  "jurisdiction_link": null,
                  "jurisdiction": null,
                  "govtrack_id": 2615,
                  "committee_type_label": "Senate",
                  "committee_type": "senate",
                  "code": "SSEG",
                  "abbrev": "E&NatRes"
                }
              ],
              "committee_history": [
                {
                  "committee_id": "SSEG",
                  "committee": "Senate Energy and Natural Resources",
                  "activity": [
                    "origin",
                    "reporting"
                  ]
                }
              ],
              "awaiting_signature": false,
              "amendments": [
                {
                  "number": "3787",
                  "chamber": "s",
                  "amendment_type": "samdt",
                  "amendment_id": "samdt3787-114"
                }
              ],
              "active": true,
              "actions": [
                {
                  "type": "action",
                  "text": "Introduced in Senate",
                  "references": [],
                  "action_code": "10000",
                  "acted_at": "2015-09-09"
                },
              ]
            }
