FORMAT: 1A
HOST: https://kratos.website

# Kratos API

Kratos API documentation.

## Group Root

## Kratos API Root [/]

This resource does not have any attributes. Instead it offers a short welcome message.

## Retrieve the Entry Point [GET]

+ Response 200 (application/json)

        {
            "Welcome to the Kratos API!"
        }

## Group User

Resources related users, on-boarding, and registration.

## Register [/api/registrations]

Register and modify user's information.

### Create A New User Registration [POST]

+ Request (application/json)

    + Attributes(object)

        + user
            + first_name: `Eric` (string, required)
            + last_name: `Andre` (string, required)
            + phone: `1234567890` (number, required)
            + password: `password` (string, required)
            + address: `700 Ranch` (string)
            + city: `Brooklyn` (string)
            + state: `NY` (string)
            + zip: `11211` (number)

+ Response 200 (application/json)

            {
              "user": {
                "zip": 11211,
                "state": "NY",
                "phone": 1234567890,
                "last_name": "Andre",
                "id": 4,
                "first_name": "Eric",
                "district": 7,
                "city": "Brooklyn",
                "address": "700 Ranch"
              },
              "token": "eyJhbGciOiguyagiuafhkugafI6IkpXVCJ9.eygiluafglafhufaleHAiOjE0NzU5ODk1NjMsImlhdCI6MTQ3MzM5NzU2MywiaXNzIjoiS3JhdG9zQXBpRGV2IiwianRpIjoiYmI2NjY1YjEtMjFlMi00YjFkLTlmMzEtY2U5NWU3NTdmMWNjIiwicGVtIahdgjghjkafbhjafwIjoidG9rZW4ifQ.y5oGphNTemlGLU3xhnPc5qplkLLK5hw2RmIZrbm_pc-ThjkafjkafnjlYOMpNcNVhcfJzQZjwY3o3BJUUfhYA"
            }

## Login [/api/login]

Login and existing user and start a session.

### Login & Create a New Session [POST]

+ Request (application/json)

    + Attributes(object)

        + session
            + phone: `1234567890` (number, required)
            + password: `password` (string, required)

+ Response 200 (application/json)

            {
              "user": {
                "zip": 11211,
                "state": "NY",
                "phone": 1234567890,
                "last_name": "Andre",
                "id": 4,
                "first_name": "Eric",
                "district": 7,
                "city": "Brooklyn",
                "address": "700 Ranch"
              },
              "token": "eyJhbGciOiguyagiuafhkugafI6IkpXVCJ9.eygiluafglafhufaleHAiOjE0NzU5ODk1NjMsImlhdCI6MTQ3MzM5NzU2MywiaXNzIjoiS3JhdG9zQXBpRGV2IiwianRpIjoiYmI2NjY1YjEtMjFlMi00YjFkLTlmMzEtY2U5NWU3NTdmMWNjIiwicGVtIahdgjghjkafbhjafwIjoidG9rZW4ifQ.y5oGphNTemlGLU3xhnPc5qplkLLK5hw2RmIZrbm_pc-ThjkafjkafnjlYOMpNcNVhcfJzQZjwY3o3BJUUfhYA"
            }

## Me [/api/me]

Get information on the current user based on the session.

### Current User information [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Response 200 (application/json)

            {
              "zip": 11211,
              "state": "NY",
              "phone": 1234567890,
              "last_name": "Andre",
              "id": 4,
              "first_name": "Eric",
              "district": 7,
              "city": "Brooklyn",
              "address": "700 Ranch"
            }



## Group Districts

Resources related congressional districts.

## Show District [/api/districts/{state}/{id}]

Find information and representatives for a congressional district.

### Show Congressional District [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Parameters

    + state: `NY` (string, required) - state abbreviation.
    + id: `7` (number, required) - number for the congressional district.

+ Response 200 (application/json)

            [
                {
                    "website": "https://www.boxer.senate.gov",
                    "title_long": "Senator",
                    "title": "Sen.",
                    "state": "CA",
                    "startdate": "2011-01-05",
                    "senator_rank_label": "Junior",
                    "senator_rank": "junior",
                    "senator_class_label": "Class 3",
                    "senator_class": "class3",
                    "role_type_label": "Senator",
                    "role_type": "senator",
                    "phone": "202-224-3553",
                    "person": {
                        "youtubeid": "SenatorBoxer",
                        "twitterid": "SenatorBoxer",
                        "sortname": "Boxer, Barbara (Sen.) [D-CA]",
                        "pvsid": "53274",
                        "osid": "N00006692",
                        "nickname": "",
                        "namemod": "",
                        "name": "Sen. Barbara Boxer [D-CA]",
                        "middlename": "",
                        "link": "https://www.govtrack.us/congress/members/barbara_boxer/300011",
                        "lastname": "Boxer",
                        "id": 300011,
                        "gender_label": "Female",
                        "gender": "female",
                        "firstname": "Barbara",
                        "cspanid": 2470,
                        "birthday": "1940-11-11",
                        "bioguideid": "B000711"
                    },
                    "party": "Democrat",
                    "leadership_title": null,
                    "image": "https://theunitedstates.io/images/congress/225x275/B000711.jpg",
                    "id": 3853,
                    "extra": {
                        "office": "112 Hart Senate Office Building",
                        "fax": "202-224-0454",
                        "contact_form": "https://www.boxer.senate.gov/contact/shareyourviews.html",
                        "address": "112 Hart Senate Office Building Washington DC 20510"
                    },
                    "enddate": "2017-01-03",
                    "district": null,
                    "description": "Junior Senator from California",
                    "current": true,
                    "congress_numbers": [
                        112,
                        113,
                        114
                    ],
                    "caucus": null
                }
            ]

## Group Representatives

Information related congressional representatives.

## Representative [/api/representatives/{id}/votes]

### Get Voting Record [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id: `412223` (number, required) - representative's Govtrack ID.

+ Response 200 (application/json)

            [
                {
                    "vote_type": "On the Conference Report",
                    "vote": 118659,
                    "value": "Yea",
                    "total_plus": 92,
                    "total_other": 6,
                    "total_minus": 2,
                    "source_label": "senate.gov",
                    "source": "senate",
                    "session": "2016",
                    "result": "Conference Report Agreed to",
                    "required": "1/2",
                    "related_bill": 336967,
                    "related_amendment": null,
                    "question_title": "Comprehensive Addiction and Recovery Act of 2016",
                    "question_details": "On the Conference Report in the Senate",
                    "question_code": "S. 524",
                    "question": "S. 524: Comprehensive Addiction and Recovery Act of 2016",
                    "percent_plus": 0.92,
                    "number": 129,
                    "missing_data": false,
                    "margin": 0.957447,
                    "link": "https://www.govtrack.us/congress/votes/114-2016/s129",
                    "key": "+",
                    "id": 118659,
                    "created": "2016-07-13T18:20:00",
                    "congress": 114,
                    "chamber_label": "Senate",
                    "chamber": "senate",
                    "category_label": "Passage",
                    "category": "passage"
                },
            ]

## Group Bills

Resources related congressional bills & resolutions.

## Bill [/api/bills/{id}]

### Get Detailed Bill Information [GET]

+ Request
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id: `336967` (number, required) - bill's Govtrack ID.

+ Response 200 (application/json)

        {
          "committees": [
            {
              "url": "http://judiciary.senate.gov/",
              "obsolete": false,
              "name": "Senate Committee on the Judiciary",
              "jurisdiction_link": null,
              "jurisdiction": null,
              "id": 2650,
              "committee_type_label": "Senate",
              "committee_type": "senate",
              "committee": null,
              "code": "SSJU",
              "abbrev": "Judiciary"
            }
          ],
          "link": "https://www.govtrack.us/congress/bills/114/s524",
          "cosponsors": [
            {
              "youtubeid": "lamaralexander",
              "twitterid": "SenAlexander",
              "sortname": "Alexander, Lamar (Sen.) [R-TN]",
              "pvsid": "15691",
              "osid": "N00009888",
              "nickname": "",
              "namemod": "",
              "name": "Sen. Lamar Alexander [R-TN]",
              "middlename": "",
              "link": "https://www.govtrack.us/congress/members/lamar_alexander/300002",
              "lastname": "Alexander",
              "id": 300002,
              "gender_label": "Male",
              "gender": "male",
              "firstname": "Lamar",
              "cspanid": 5,
              "birthday": "1940-07-03",
              "bioguideid": "A000360"
            }
          ],
          "title_without_number": "Comprehensive Addiction and Recovery Act of 2016",
          "is_current": true,
          "sponsor_role": {
            "website": "http://www.whitehouse.senate.gov",
            "title_long": "Senator",
            "title": "Sen.",
            "state": "RI",
            "startdate": "2013-01-03",
            "senator_rank_label": "Junior",
            "senator_rank": "junior",
            "senator_class_label": "Class 1",
            "senator_class": "class1",
            "role_type_label": "Senator",
            "role_type": "senator",
            "phone": "202-224-2921",
            "person": 412247,
            "party": "Democrat",
            "leadership_title": null,
            "id": 42937,
            "extra": {
              "rss_url": "http://www.whitehouse.senate.gov/rss/feeds/?type=all&amp;cachebuster=1",
              "office": "530 Hart Senate Office Building",
              "fax": "202-228-6362",
              "contact_form": "http://www.whitehouse.senate.gov/contact",
              "address": "530 Hart Senate Office Building Washington DC 20510"
            },
            "enddate": "2019-01-03",
            "district": null,
            "description": "Junior Senator from Rhode Island",
            "current": true,
            "congress_numbers": [
              113,
              114,
              115
            ],
            "caucus": null
          },
          "lock_title": false,
          "titles": [
            [
              "official",
              "amended by house",
              "To authorize the Attorney General and Secretary of Health and Human Services to award grants to address the national epidemics of prescription opioid abuse and heroin use, and to provide for the establishment of an inter-agency task force to review, modify, and update best practices for pain management and prescribing pain medication, and for other purposes."
            ],
            [
              "display",
              null,
              "Comprehensive Addiction and Recovery Act of 2016"
            ]
          ],
          "senate_floor_schedule_postdate": null,
          "sliplawnum": 198,
          "bill_type": "senate_bill",
          "docs_house_gov_postdate": null,
          "noun": "bill",
          "current_status_date": "2016-07-22",
          "source_link": null,
          "current_status": "enacted_signed",
          "related_bills": [
            {
              "relation": "identical",
              "bill": 336943
            }
          ],
          "introduced_date": "2015-02-12",
          "major_actions": [
            [
              "datetime.datetime(2016, 7, 22, 0, 0)",
              28,
              "Signed by President.",
              "<signed datetime=\"2016-07-22\" state=\"ENACTED:SIGNED\">\n      <text>Signed by President.</text>\n    </signed>\n    "
            ]
          ],
          "congress": 114,
          "sponsor": {
            "youtubeid": "SenatorWhitehouse",
            "twitterid": "SenWhitehouse",
            "sortname": "Whitehouse, Sheldon (Sen.) [D-RI]",
            "pvsid": "2572",
            "osid": "N00027533",
            "nickname": "",
            "namemod": "",
            "name": "Sen. Sheldon Whitehouse [D-RI]",
            "middlename": "",
            "link": "https://www.govtrack.us/congress/members/sheldon_whitehouse/412247",
            "lastname": "Whitehouse",
            "id": 412247,
            "gender_label": "Male",
            "gender": "male",
            "firstname": "Sheldon",
            "cspanid": 92235,
            "birthday": "1955-10-20",
            "bioguideid": "W000802"
          },
          "id": 336967,
          "terms": [
            {
              "term_type_label": "New",
              "term_type": "new",
              "name": "Drug therapy",
              "id": 6878
            }
          ],
          "bill_type_label": "S.",
          "bill_resolution_type": "bill",
          "display_number": "S. 524",
          "title": "S. 524: Comprehensive Addiction and Recovery Act of 2016",
          "sliplawpubpriv": "PUB",
          "current_status_label": "Enacted — Signed by the President",
          "is_alive": false,
          "number": 524,
          "source": "thomas-congproj",
          "current_status_description": "This bill was enacted after being signed by the President on July 22, 2016."
        }
