FORMAT: 1A
HOST: https://kratos.site

# Kratos API

Kratos API documentation.

## Group Root

## Kratos API Root [/]

This resource does not have any attributes. Instead it offers a short welcome message.

## Retrieve the Entry Point [GET]

+ Response 200 (application/json)

        {
            "Welcome to the Kratos API!"
        }

## Group User

Resources related users, on-boarding, and registration.

## Register [/api/registrations]

Register and modify user's information. After registration a user will be unable to get a token until they have verified their email. Once the user's email has been confirmed, a new token can be request through `/api/login`.

### Create A New User Registration [POST]

+ Request (application/json)

    + Attributes(object)

          + password: `password` (string, required)
          + email: `legalize@ranch.com` (string, required)
          + first_name: `Eric` (string, required)
          + last_name: `Andre` (string, required)
          + birthday: `2001-03-11` (string, required)
          + address: `700 Ranch` (string, required)
          + city: `Brooklyn` (string, required)
          + state: `NY` (string, required)
          + zip: `11211` (number, required)
          + party: `Democrat` (string)
          + phone: `1234567890` (number)
          + push_token: `<ce8be627 2e43e855 16033e24 b4c28922 0eeda487 9c477160 b2545e95 b68b5969>` (string)

+ Response 200 (application/json)

            {
              "zip": 11211,
              "state": "NY",
              "phone": 1234567890,
              "email": "legalize@ranch.com",
              "last_name": "Andre",
              "id": 4,
              "first_name": "Eric",
              "district": 7,
              "city": "Brooklyn",
              "address": "700 Ranch",
              "party": "Democrat",
              "birthday": "2001-03-11",
              "push_token": "<ce8be627 2e43e855 16033e24 b4c28922 0eeda487 9c477160 b2545e95 b68b5969>"
            }

## Login [/api/login]

Login and existing user and start a session.

### Login & Create a New Session [POST]

+ Request (application/json)

    + Attributes(object)

        + session
            + email: `1234567890` (string, required)
            + password: `password` (string, required)

+ Response 200 (application/json)

            {
              "token": "eyJhbGciOiguyagiuafhkugafI6IkpXVCJ9.eygiluafglafhufaleHAiOjE0NzU5ODk1NjMsImlhdCI6MTQ3MzM5NzU2MywiaXNzIjoiS3JhdG9zQXBpRGV2IiwianRpIjoiYmI2NjY1YjEtMjFlMi00YjFkLTlmMzEtY2U5NWU3NTdmMWNjIiwicGVtIahdgjghjkafbhjafwIjoidG9rZW4ifQ.y5oGphNTemlGLU3xhnPc5qplkLLK5hw2RmIZrbm_pc-ThjkafjkafnjlYOMpNcNVhcfJzQZjwY3o3BJUUfhYA"
            }

## Request Another Confirmation Email [/api/confirmation/request]

Manually request a confirmation email (in case the first one was lost)

### Request Confirmation Email [POST]

+ Request (application/json)

+ Response 200 (application/json)

            {
              "email": "legalize@ranch.com"
            }

## Me [/api/me]

Get & update information on the current user based on the session.

### Get My information [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Response 200 (application/json)

            {
              "zip": 11211,
              "state": "NY",
              "phone": 1234567890,
              "email": "legalize@ranch.com",
              "last_name": "Andre",
              "id": 4,
              "first_name": "Eric",
              "district": 7,
              "city": "Brooklyn",
              "address": "700 Ranch",
              "party": "Democrat",
              "birthday": "2001-03-11",
              "push_token": "<ce8be627 2e43e855 16033e24 b4c28922 0eeda487 9c477160 b2545e95 b68b5969>"
            }

### Update My information [POST]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

    + Attributes(object)

        + user
            + password: `super_sekrit` (string, required)
            + phone: `1111111111` (number)
            + push_token: `<goat>` (string)
            + first_name: `Lebron` (string)
            + last_name: `James` (string)
            + address: `Quicken Loans Arena` (string)
            + city: `Cleveland` (string)
            + state: `OH` (string)
            + zip: `44115` (number)
            + party: `Democrat` (string)
            + birthday: `1984-12-30` (string)

+ Response 200 (application/json)

            {
              "zip": 44115,
              "state": "OH",
              "phone": 1111111111,
              "email": "legalize@ranch.com",
              "last_name": "James",
              "id": 4,
              "first_name": "Lebron",
              "district": 11,
              "city": "Cleveland",
              "address": "Quicken Loans Arena",
              "party": "Democrat",
              "birthday": "1984-12-30",
              "push_token": "<goat>"
            }

## My Bills [/api/me/bills{?onlyids}{?subjects%5B%5D}{?userbills}]

Track Bills and view all tracked Bills.

### All Tracked Bills & All Tracked Subject Bills [GET]

+ Parameters
    + onlyids (optional, boolean, `false`) - return only an array of ids for all tracked bills
    + subjects%5B%5D (required, number or boolean, `3` or `false`) - filter bills by primary subject
    + userbills (required, boolean, `false`) - remove individually tracked bills

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Response 200 (application/json)

            {
              "pagination": [
                {
                  "url": "/api/me/bills?page=1",
                  "page": 1,
                  "label": "1",
                  "current": true
                }
              ],
              "data": [
                {
                  "vetoed": false,
                  "type": "s",
                  "top_term": "Public lands and natural resources",
                  "titles": [
                    {
                      "type": "official",
                      "title": "A bill to extend the authorization of the Highlands Conservation Act.",
                      "is_for_portion": false,
                      "as": "introduced"
                    },
                    {
                      "type": "display",
                      "title": "A bill to extend the authorization of the Highlands Conservation Act.",
                      "is_for_portion": false,
                      "as": null
                    }
                  ],
                  "summary_text": "This bill amends the Highlands Conservation Act to reauthorize through FY2021: (1) land conservation partnership projects in the highlands regions of Connecticut, New Jersey, New York, and Pennsylvania; and (2) Forest Service and Department of Agriculture programs to assist states, units of local government, and private forest and farm landowners in the conservation of land and natural resources in that region.",
                  "summary_date": "2016-03-08T05:00:00",
                  "status_at": null,
                  "status": "REFERRED",
                  "source_url": "https://www.gpo.gov/fdsys/bulkdata/BILLSTATUS/114/s/BILLSTATUS-114s2652.xml",
                  "short_title": null,
                  "popular_title": null,
                  "official_title": "A bill to extend the authorization of the Highlands Conservation Act.",
                  "number": "2652",
                  "introduced_at": "2016-03-08",
                  "id": 1793,
                  "history": {
                    "vetoed": false,
                    "enacted": false,
                    "awaiting_signature": false,
                    "active": false
                  },
                  "gpo_id": "s2652-114",
                  "pretty_gpo": "S. 2652",
                  "gpo_data_updated_at": "2016-11-02T23:46:18",
                  "full_text_url": null,
                  "enacted_as": null,
                  "enacted": false,
                  "congress_number": 114,
                  "committee_history": [
                    {
                      "committee_id": "SSEG",
                      "committee": "Senate Energy and Natural Resources",
                      "activity": [
                        "referral"
                      ]
                    }
                  ],
                  "awaiting_signature": false,
                  "amendments": [],
                  "active": false,
                  "actions": [
                    {
                      "type": "action",
                      "text": "Introduced in Senate",
                      "references": [],
                      "action_code": "10000",
                      "acted_at": "2016-03-08"
                    },
                    {
                      "type": "referral",
                      "text": "Read twice and referred to the Committee on Energy and Natural Resources.",
                      "status": "REFERRED",
                      "references": [],
                      "committees": [
                        "SSEG"
                      ],
                      "action_code": "",
                      "acted_at": "2016-03-08"
                    }
                  ]
                }
              ]
            }


+ Request ?onlyids=true (application/json)
    + Headers

            Authorization: Bearer <token>

+ Response 200 (application/json)

            {
              "data": [1,4]
            }



### Track a Bill [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer <token>

    + Attributes(object)

        + track
            + bill_id: `1793` (number, required)

+ Response 200 (application/json)

            {
              "data": [1793,1776]
            }

## My Individual Bills [/api/me/bills/{id}]

View & delete a current user's tracked bill.

### View Tracked Bill [GET]

+ Request (application/json)

    + Headers

            Authorization: Bearer <token>

+ Parameters

    + id: `1793` (number, required) - Bill ID.

+ Response 200 (application/json)

            {
              "vetoed": false,
              "type": "s",
              "top_term": "Public lands and natural resources",
              "titles": [
                {
                  "type": "official",
                  "title": "A bill to extend the authorization of the Highlands Conservation Act.",
                  "is_for_portion": false,
                  "as": "introduced"
                },
                {
                  "type": "display",
                  "title": "A bill to extend the authorization of the Highlands Conservation Act.",
                  "is_for_portion": false,
                  "as": null
                }
              ],
              "summary_text": "This bill amends the Highlands Conservation Act to reauthorize through FY2021: (1) land conservation partnership projects in the highlands regions of Connecticut, New Jersey, New York, and Pennsylvania; and (2) Forest Service and Department of Agriculture programs to assist states, units of local government, and private forest and farm landowners in the conservation of land and natural resources in that region.",
              "summary_date": "2016-03-08T05:00:00",
              "status_at": null,
              "status": "REFERRED",
              "source_url": "https://www.gpo.gov/fdsys/bulkdata/BILLSTATUS/114/s/BILLSTATUS-114s2652.xml",
              "short_title": null,
              "popular_title": null,
              "official_title": "A bill to extend the authorization of the Highlands Conservation Act.",
              "number": "2652",
              "introduced_at": "2016-03-08",
              "id": 1793,
              "history": {
                "vetoed": false,
                "enacted": false,
                "awaiting_signature": false,
                "active": false
              },
              "gpo_id": "s2652-114",
              "pretty_gpo": "S. 2652",
              "gpo_data_updated_at": "2016-11-02T23:46:18",
              "full_text_url": null,
              "enacted_as": null,
              "enacted": false,
              "congress_number": 114,
              "committee_history": [
                {
                  "committee_id": "SSEG",
                  "committee": "Senate Energy and Natural Resources",
                  "activity": [
                    "referral"
                  ]
                }
              ],
              "awaiting_signature": false,
              "amendments": [],
              "active": false,
              "actions": [
                {
                  "type": "action",
                  "text": "Introduced in Senate",
                  "references": [],
                  "action_code": "10000",
                  "acted_at": "2016-03-08"
                },
                {
                  "type": "referral",
                  "text": "Read twice and referred to the Committee on Energy and Natural Resources.",
                  "status": "REFERRED",
                  "references": [],
                  "committees": [
                    "SSEG"
                  ],
                  "action_code": "",
                  "acted_at": "2016-03-08"
                }
              ]
            }

### Stop Tracking a Bill [DELETE]

+ Request (application/json)

    + Headers

            Authorization: Bearer <token>

+ Parameters

    + id: `1793` (number, required) - Bill ID.

+ Response 200 (application/json)

            {
              "ok":true
            }


## My Subjects [/api/me/subjects]

Follow specific Congressional Subjects.

### All My Subjects [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Response 200 (application/json)

            {
              "data": [
                {
                  "name": "Immigration",
                  "id": 1
                },
                {
                  "name": "Intergovernmental relations",
                  "id": 2
                },
                {
                  "name": "Middle East",
                  "id": 3
                },
                {
                  "name": "Refugees, asylum, displaced persons",
                  "id": 4
                },
                {
                  "name": "State and local government operations",
                  "id": 5
                },
                {
                  "name": "Syria",
                  "id": 6
                },
                {
                  "name": "Asia",
                  "id": 7
                }
              ]
            }

### Follow a Subject [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer <token>

    + Attributes(object)

        + follow
            + subject_id: `7` (number, required)

+ Response 200 (application/json)

            {
              "following": "Asia"
            }

## My Individual Subject [/api/me/subjects/{id}]

Delete a current user's tracked subject.

### Unfollow a Subject [DELETE]

+ Request (application/json)

    + Headers

            Authorization: Bearer <token>

+ Parameters

    + id: `7` (number, required) - Subject ID.

+ Response 200 (application/json)

            {
              "ok":true
            }

## My Voting Record [/api/me/votes]

List the current user's voting record and create new votes.

### View Voting Record [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Response 200 (application/json)

            {
              "pagination": [
                {
                  "url": "/api/me/votes?page=1",
                  "page": 1,
                  "label": "1",
                  "current": true
                }
              ],
              "data": {
                "voting_record": [
                  {
                    "value": "Nay",
                    "tally": {
                      "type": "On Motion to Suspend the Rules and Pass",
                      "treaty": null,
                      "subject": "Intelligence Authorization Act for Fiscal Year 2017",
                      "session": "2016",
                      "result_text": "Passed",
                      "result": "Passed",
                      "requires": "2/3",
                      "record_updated_at": null,
                      "question": "On Motion to Suspend the Rules and Pass: H R 6393 Intelligence Authorization Act for Fiscal Year 2017",
                      "bill": {
                        "type": "hr",
                        "top_subject": {
                          "name": "Health",
                          "id": 56
                        },
                        "short_title": "H R 6393 Intelligence Authorization Act for Fiscal Year 2017",
                        "pretty_gpo": "H.R. 6393",
                        "popular_title": null,
                        "official_title": "On Motion to Suspend the Rules and Pass: H R 6393 Intelligence Authorization Act for Fiscal Year 2017",
                        "id": 14466,
                        "gpo_id": "hr-6393-115",
                        "congress_number": 114
                      },
                      "number": 593,
                      "id": 1,
                      "date": "2016-11-30T18:47:00",
                      "chamber": "House",
                      "category": "passage-suspension",
                      "amendment": null
                    },
                    "id": 1
                  }
                ]
              }
            }

### Create new Vote [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer <token>

    + Attributes(object)

        + vote
            + tally_id: `420` (number, required)
            + value: `Aye` (string, required)

+ Response 200 (application/json)

            {
              "value": "Aye",
              "tally": {
                "type": "On the Cloture Motion",
                "treaty": null,
                "subject": "Upon Reconsideration Motion to Invoke Cloture on the Motion to Proceed to H.R. 5293",
                "session": "2016",
                "result_text": "Cloture on the Motion to Proceed Rejected (55-42, 3/5 majority required)",
                "result": "Cloture on the Motion to Proceed Rejected",
                "requires": "3/5",
                "record_updated_at": null,
                "question": "On Cloture on the Motion to Proceed H.R. 5293",
                "bill": {
                  "type": "hr",
                  "top_subject": {
                    "name": "Health",
                    "id": 56
                  },
                  "short_title": "H.R. 5293",
                  "pretty_gpo": "H.R. 5293",
                  "popular_title": null,
                  "official_title": "On Cloture on the Motion to Proceed H.R. 5293",
                  "id": 14466,
                  "gpo_id": "hr-5293-115",
                  "congress_number": 114
                },
                "number": 133,
                "id": 420,
                "date": "2016-07-14T12:46:00",
                "chamber": "Senate",
                "category": "cloture",
                "amendment": null
              },
              "id": 3
            }

## My Individual Votes [/api/me/votes/{id}]

Read, update, & destroy the current user's individual votes.

### View Vote [GET]

+ Request (application/json)

    + Headers

            Authorization: Bearer <token>

+ Parameters

    + id: `420` (number, required) - TALLY ID.

+ Response 200 (application/json)

            {
              "value": "Aye",
              "tally_id": 420,
              "id": 3
            }

### Update a Vote [PUT]

+ Request (application/json)

    + Headers

            Authorization: Bearer <token>

    + Attributes(object)

        + vote
            + value: `Nay` (string, required)

+ Parameters

    + id: `420` (number, required) - TALLY ID.

+ Response 200 (application/json)

            {
              "value": "Nay",
              "tally": {
                "type": "On the Cloture Motion",
                "treaty": null,
                "subject": "Upon Reconsideration Motion to Invoke Cloture on the Motion to Proceed to H.R. 5293",
                "session": "2016",
                "result_text": "Cloture on the Motion to Proceed Rejected (55-42, 3/5 majority required)",
                "result": "Cloture on the Motion to Proceed Rejected",
                "requires": "3/5",
                "record_updated_at": null,
                "question": "On Cloture on the Motion to Proceed H.R. 5293",
                "bill": {
                  "type": "hr",
                  "top_subject": {
                    "name": "Health",
                    "id": 56
                  },
                  "short_title": "H.R. 5293",
                  "pretty_gpo": "H.R. 5293",
                  "popular_title": null,
                  "official_title": "On Cloture on the Motion to Proceed H.R. 5293",
                  "id": 689,
                  "gpo_id": "hr-5293-115",
                  "congress_number": 114
                },
                "number": 133,
                "id": 420,
                "nomination_id": null,
                "date": "2016-07-14T12:46:00",
                "chamber": "Senate",
                "category": "cloture",
                "amendment": null
              },
              "id": 3
            }

### Delete a Vote [DELETE]

+ Request (application/json)

    + Headers

            Authorization: Bearer <token>

+ Parameters

    + id: `420` (number, required) - TALLY ID.

+ Response 200 (application/json)

            {
              "ok":true
            }

## My Actions [/api/me/actions]

Create User Actions to record when a user contacts specific representatives.

### Record a new Action [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer <token>

    + Attributes(object)

        + user_action
            + action: `call` (string, required)
            + person_id: 3 (number, required)
            + last_bill_id: 1 (number, required)
            + last_tally_id: 2 (number, required)
            + last_bill_seen_at: `2015-05-05T12:30:00` (optional, string) - datetime in UTC (ISO8601 format)
            + last_tally_seen_at: `2015-05-05T12:30:00` (optional, string) - datetime in UTC (ISO8601 format)

+ Response 200 (application/json)

            {
              "ok":true
            }

## Reset Password [/api/forgot-password]

Handle a User who does not remember their password.

### Request password reset email [POST]

+ Request (application/json)

    + Attributes(object)

        + email: `lebronjames@cavs.nba` (string, required)

+ Response 200 (application/json)

            {
              "ok": true
            }


## Group Congress

Resources for general Congressional information.

## Congressional Recess [/api/congress/recess]

Determine if Congress is in recess.

### Is Congress in recess today? [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Response 200 (application/json)

            {
              "recess": false
            }

## Congress Bills on the Floor [/api/congress/{chamber}/floor]

View the bills that are on the floor for each chamber (house, senate)

### Get bills on the floor [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Parameters

    + chamber: `house` (string, required) - chamber enum (house, senate)

+ Response 200 (application/json)

            {
              "data": [
                {
                  "type": "s",
                  "top_subject": {
                    "name": "Health",
                    "id": 56
                  },
                  "short_title": "Department of Veterans Affairs Bonus Transparency Act",
                  "pretty_gpo": "S. 114",
                  "popular_title": null,
                  "official_title": "A bill to amend title 38, United States Code, to require the Secretary of Veterans Affairs to submit an annual report regarding performance awards and bonuses awarded to certain high-level employees of the Department of Veterans Affairs.",
                  "id": 712,
                  "gpo_id": "s114-115",
                  "congress_number": 115,
                  "actions": [
                    {
                      "where": "h",
                      "vote_type": "vote2",
                      "type": "vote",
                      "text": "On motion to suspend the rules and pass the bill, as amended Failed by the Yeas and Nays: (2/3 required): 219 - 186 (Roll no. 408).",
                      "suspension": true,
                      "status": "PROV_KILL:SUSPENSIONFAILED",
                      "roll": "408",
                      "result": "fail",
                      "references": [],
                      "how": "roll",
                      "action_code": "H37300",
                      "acted_at": "2017-07-24T19:03:54-04:00"
                    },
                    {
                      "type": "action",
                      "text": "Considered as unfinished business.",
                      "references": [
                        {
                          "type": "consideration",
                          "reference": "CR H6196-6197"
                        }
                      ],
                      "action_code": "H30000",
                      "acted_at": "2017-07-24T18:55:59-04:00"
                    },
                    {
                      "type": "action",
                      "text": "At the conclusion of debate, the Yeas and Nays were demanded and ordered. Pursuant to the provisions of clause 8, rule XX, the Chair announced that further proceedings on the motion would be postponed.",
                      "references": [],
                      "action_code": "H37220",
                      "acted_at": "2017-07-24T14:47:14-04:00"
                    },
                    {
                      "type": "action",
                      "text": "DEBATE - The House proceeded with forty minutes of debate on S. 114.",
                      "references": [],
                      "action_code": "H8D000",
                      "acted_at": "2017-07-24T14:11:15-04:00"
                    },
                    {
                      "type": "action",
                      "text": "Considered under suspension of the rules.",
                      "references": [
                        {
                          "type": "consideration",
                          "reference": "CR H6151-6158"
                        },
                        {
                          "type": "text of measure as introduced",
                          "reference": "CR H6151"
                        }
                      ],
                      "action_code": "H30000",
                      "acted_at": "2017-07-24T14:11:13-04:00"
                    },
                    {
                      "type": "action",
                      "text": "Mr. Roe (TN) moved to suspend the rules and pass the bill, as amended.",
                      "references": [],
                      "action_code": "H30300",
                      "acted_at": "2017-07-24T14:11:11-04:00"
                    },
                    {
                      "type": "action",
                      "text": "Received in the House.",
                      "references": [],
                      "action_code": "H14000",
                      "acted_at": "2017-05-26T10:02:06-04:00"
                    },
                    {
                      "type": "referral",
                      "text": "Referred to the House Committee on Veterans' Affairs.",
                      "references": [],
                      "committees": [
                        "HSVR"
                      ],
                      "action_code": "H11100",
                      "acted_at": "2017-05-26"
                    },
                    {
                      "type": "action",
                      "text": "Senate Committee on Veterans' Affairs discharged by Unanimous Consent.",
                      "references": [
                        {
                          "type": "consideration",
                          "reference": "CR S3190"
                        }
                      ],
                      "committees": [
                          "SSVA"
                      ],
                      "action_code": "",
                      "acted_at": "2017-05-25"
                    },
                    {
                      "where": "s",
                      "vote_type": "vote",
                      "type": "vote",
                      "text": "Passed Senate without amendment by Unanimous Consent.",
                      "status": "PASS_OVER:SENATE",
                      "result": "pass",
                      "references": [
                        {
                          "type": "text",
                          "reference": "CR S3190"
                        }
                      ],
                      "how": "by Unanimous Consent",
                      "action_code": "",
                      "acted_at": "2017-05-25"
                    },
                    {
                      "type": "action",
                      "text": "Message on Senate action sent to the House.",
                      "references": [],
                      "action_code": "",
                      "acted_at": "2017-05-25"
                    },
                    {
                      "type": "action",
                      "text": "Introduced in Senate",
                      "references": [],
                      "action_code": "10000",
                      "acted_at": "2017-01-12"
                    },
                    {
                      "type": "referral",
                      "text": "Read twice and referred to the Committee on Veterans' Affairs.",
                      "status": "REFERRED",
                      "references": [],
                      "committees": [
                        "SSVA"
                      ],
                      "action_code": "",
                      "acted_at": "2017-01-12"
                    }
                  ]
                }
              ]
            }

## Congress Trending Bills [/api/congress/trending]

View the bills are trending this week

### Get all trending bills [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Response 200 (application/json)

            {
              "data": [
              {
                "vetoed": false,
                "type": "hr",
                "top_subject": {
                  "name": "Immigration",
                  "id": 26
                },
                "titles": [
                  {
                    "type": "short",
                    "title": "Bar Removal of Individuals who Dream and Grow our Economy Act",
                    "is_for_portion": false,
                    "as": "introduced"
                  },
                  {
                    "type": "short",
                    "title": "Bar Removal of Individuals who Dream and Grow our Economy Act",
                    "is_for_portion": false,
                    "as": "introduced"
                  },
                  {
                    "type": "short",
                    "title": "BRIDGE Act",
                    "is_for_portion": false,
                    "as": "introduced"
                  },
                  {
                    "type": "short",
                    "title": "BRIDGE Act",
                    "is_for_portion": false,
                    "as": "introduced"
                  },
                  {
                    "type": "official",
                    "title": "To provide provisional protected presence to qualified individuals who came to the United States as children.",
                    "is_for_portion": false,
                    "as": "introduced"
                  },
                  {
                    "type": "display",
                    "title": "BRIDGE Act",
                    "is_for_portion": false,
                    "as": null
                  }
                ],
                "summary_text": "Bar Removal of Individuals who Dream and Grow our Economy Act or the BRIDGE Act",
                "summary_date": "2017-01-12T05:00:00",
                "status_at": null,
                "status": "REFERRED",
                "source_url": "https://www.gpo.gov/fdsys/bulkdata/BILLSTATUS/115/hr/BILLSTATUS-115hr496.xml",
                "short_title": "Bar Removal of Individuals who Dream and Grow our Economy Act",
                "pretty_gpo": "H.R. 496",
                "popular_title": null,
                "official_title": "To provide provisional protected presence to qualified individuals who came to the United States as children.",
                "number": "496",
                "introduced_at": "2017-01-12",
                "id": 4442,
                "history": {
                  "vetoed": false,
                  "enacted": false,
                  "awaiting_signature": false,
                  "active_at": "2017-09-05",
                  "active": true
                },
                "gpo_id": "hr496-115",
                "gpo_data_updated_at": null,
                "full_text_url": null,
                "enacted_as": null,
                "enacted": false,
                "congress_number": 115,
                "committee_history": [
                  {
                    "committee_id": "HSJU",
                    "committee": "House Judiciary",
                    "activity": [
                      "referral"
                    ]
                  },
                  {
                    "subcommittee_id": "01",
                    "subcommittee": "Subcommittee on Immigration and Border Security",
                    "committee_id": "HSJU",
                    "committee": "House Judiciary",
                    "activity": [
                      "referral"
                    ]
                  }
                ],
                "awaiting_signature": false,
                "amendments": [],
                "active": true,
                "actions": [
                    {
                      "type": "action",
                      "text": "Motion to Discharge Committee filed by Mr. Coffman. Petition No: 115-4.",
                      "references": [
                        {
                          "type": null,
                          "reference": "Discharge petition text with signatures."
                        }
                      ],
                      "action_code": "H17000",
                      "acted_at": "2017-09-05"
                    },
                  ]
                }
              ]
            }


## Group Districts

Resources related congressional districts.

## Show District [/api/districts/{state}/{id}]

Find information and representatives for a congressional district.

### Show Congressional District [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Parameters

    + state: `NY` (string, required) - state abbreviation.
    + id: `7` (number, required) - number for the congressional district.

+ Response 200 (application/json)

            {
              "pagination": [
                {
                  "url": "/api/districts/NY/7?id=7&page=1&state=NY",
                  "page": 1,
                  "label": "1",
                  "current": true
                }
              ],
              "data": [
                {
                "maplight": "606",
                "is_current": true,
                "wikipedia": "Chuck Schumer",
                "image_url": "https://theunitedstates.io/images/congress/225x275/S000148.jpg",
                "gender": "M",
                "google_entity_id": "kg:/m/01w74d",
                "facebook": "chuckschumer",
                "id": 12138,
                "bioguide": "S000148",
                "first_name": "Charles",
                "lis": "S270",
                "terms": [
                  {
                    "url": "https://www.schumer.senate.gov",
                    "type": "Senate",
                    "state_rank": "senior",
                    "state": "NY",
                    "start": "2017-01-03",
                    "rss_url": null,
                    "phone": "202-224-6542",
                    "party_affiliations": null,
                    "party": "Democrat",
                    "office": "322 Hart Senate Office Building",
                    "is_current": null,
                    "id": 42560,
                    "fax": null,
                    "end": "2023-01-03",
                    "district": null,
                    "contact_form": "http://www.schumer.senate.gov/contact/email-chuck",
                    "class": "3",
                    "caucus": null,
                    "address": "322 Hart Senate Office Building Washington DC 20510"
                  },
                ],
                "religion": "Jewish",
                "instagram_id": "",
                "wikidata": "Q380900",
                "thomas": "01036",
                "current_office": "Senate",
                "house_history": "21322",
                "votesmart": "26976",
                "last_name": "Schumer",
                "current_district": null,
                "cspan": "5929",
                "twitter": "SenSchumer",
                "twitter_id": "17494010",
                "icpsr": "14858",
                "current_state": "NY",
                "current_party": "Democrat",
                "youtube_id": "UC-ABttxh8uQv_10qmwGaidw",
                "bio": null,
                "instagram": "",
                "opensecrets": "N00001093",
                "official_full_name": "Charles E. Schumer",
                "ballotpedia": "Chuck Schumer",
                "youtube": "SenatorSchumer",
                "facebook_id": "15771239406",
                "birthday": "1950-11-23"
                }
              ]
            }

## Group People

Information related congressional representatives.

## People [/api/people/{id}]

### Get Person [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id: `12138` (number, required) - representative's PERSON ID.

+ Response 200 (application/json)

            {
              "maplight": "606",
              "is_current": true,
              "wikipedia": "Chuck Schumer",
              "image_url": "https://theunitedstates.io/images/congress/225x275/S000148.jpg",
              "gender": "M",
              "google_entity_id": "kg:/m/01w74d",
              "facebook": "chuckschumer",
              "id": 12138,
              "bioguide": "S000148",
              "first_name": "Charles",
              "lis": "S270",
              "terms": [
                {
                  "url": "https://www.schumer.senate.gov",
                  "type": "Senate",
                  "state_rank": "senior",
                  "state": "NY",
                  "start": "2017-01-03",
                  "rss_url": null,
                  "phone": "202-224-6542",
                  "party_affiliations": null,
                  "party": "Democrat",
                  "office": "322 Hart Senate Office Building",
                  "is_current": null,
                  "id": 42560,
                  "fax": null,
                  "end": "2023-01-03",
                  "district": null,
                  "contact_form": "http://www.schumer.senate.gov/contact/email-chuck",
                  "class": "3",
                  "caucus": null,
                  "address": "322 Hart Senate Office Building Washington DC 20510"
                },
              ],
              "religion": "Jewish",
              "instagram_id": "",
              "wikidata": "Q380900",
              "thomas": "01036",
              "current_office": "Senate",
              "house_history": "21322",
              "votesmart": "26976",
              "last_name": "Schumer",
              "current_district": null,
              "cspan": "5929",
              "twitter": "SenSchumer",
              "twitter_id": "17494010",
              "icpsr": "14858",
              "current_state": "NY",
              "current_party": "Democrat",
              "youtube_id": "UC-ABttxh8uQv_10qmwGaidw",
              "bio": null,
              "instagram": "",
              "opensecrets": "N00001093",
              "official_full_name": "Charles E. Schumer",
              "ballotpedia": "Chuck Schumer",
              "youtube": "SenatorSchumer",
              "facebook_id": "15771239406",
              "birthday": "1950-11-23"
            }


## People's Votes [/api/people/{id}/votes]

### Get Voting Record [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id: `12138` (number, required) - representative's PERSON ID.

+ Response 200 (application/json)

            {
              "pagination": [
                {
                  "url": "/api/people/12138/votes?id=12138&page=1",
                  "page": 1,
                  "label": "1",
                  "current": true
                },
                {
                  "url": "/api/people/12138/votes?id=12138&page=2",
                  "page": 2,
                  "label": "Next",
                  "current": false
                },
                {
                  "url": "/api/people/12138/votes?id=12138&page=9",
                  "page": 9,
                  "label": "Last",
                  "current": false
                }
              ],
              "data": {
                "voting_record": [
                  {
                    "value": "Nay",
                    "tally": {
                      "type": "On the Motion (Motion to Concur in the House Amendment to S. 612)",
                      "treaty": null,
                      "subject": "Motion to Concur in the House Amendment to S. 612",
                      "session": "2016",
                      "result_text": "Motion Agreed to (78-21)",
                      "result": "Motion Agreed to",
                      "requires": "1/2",
                      "record_updated_at": null,
                      "question": "On the Motion (Motion to Concur in the House Amendment to S. 612)",
                      "bill": {
                        "type": "s",
                        "top_subject": {
                          "name": "Health",
                          "id": 56
                        },
                        "short_title": "S. 612",
                        "pretty_gpo": "S. 612",
                        "popular_title": null,
                        "official_title": "House Amendment to S. 612",
                        "id": 689,
                        "gpo_id": "s612-115",
                        "congress_number": 115
                      },
                      "number": 163,
                      "id": 769,
                      "nomination_id": null,
                      "date": "2016-12-10T00:57:00",
                      "chamber": "Senate",
                      "category": "passage",
                      "amendment": null
                    },
                    "id": 279847
                  },
                ]
              }
            }


## People's Bills [/api/people/{id}/bills]

### Get Sponsored Bills [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id: `12138` (number, required) - representative's PERSON ID.

+ Response 200 (application/json)

            {
              "pagination": [
                {
                  "url": "/api/people/36/bills?id=36&page=1",
                  "page": 1,
                  "label": "1",
                  "current": true
                }
              ],
              "data": [
                {
                  "vetoed": false,
                  "type": "s",
                  "top_term": "Public lands and natural resources",
                  "titles": [
                    {
                      "type": "official",
                      "title": "A bill to extend the authorization of the Highlands Conservation Act.",
                      "is_for_portion": false,
                      "as": "introduced"
                    },
                    {
                      "type": "display",
                      "title": "A bill to extend the authorization of the Highlands Conservation Act.",
                      "is_for_portion": false,
                      "as": null
                    }
                  ],
                  "summary_text": "This bill amends the Highlands Conservation Act to reauthorize through FY2021: (1) land conservation partnership projects in the highlands regions of Connecticut, New Jersey, New York, and Pennsylvania; and (2) Forest Service and Department of Agriculture programs to assist states, units of local government, and private forest and farm landowners in the conservation of land and natural resources in that region.",
                  "summary_date": "2016-03-08T05:00:00",
                  "status_at": null,
                  "status": "REFERRED",
                  "source_url": "https://www.gpo.gov/fdsys/bulkdata/BILLSTATUS/114/s/BILLSTATUS-114s2652.xml",
                  "short_title": null,
                  "popular_title": null,
                  "official_title": "A bill to extend the authorization of the Highlands Conservation Act.",
                  "number": "2652",
                  "introduced_at": "2016-03-08",
                  "id": 1793,
                  "history": {
                    "vetoed": false,
                    "enacted": false,
                    "awaiting_signature": false,
                    "active": false
                  },
                  "gpo_id": "s2652-114",
                  "pretty_gpo": "S. 2652",
                  "gpo_data_updated_at": "2016-11-02T23:46:18",
                  "full_text_url": null,
                  "enacted_as": null,
                  "enacted": false,
                  "congress_number": 114,
                  "committee_history": [
                    {
                      "committee_id": "SSEG",
                      "committee": "Senate Energy and Natural Resources",
                      "activity": [
                        "referral"
                      ]
                    }
                  ],
                  "awaiting_signature": false,
                  "amendments": [],
                  "active": false,
                  "actions": [
                    {
                      "type": "action",
                      "text": "Introduced in Senate",
                      "references": [],
                      "action_code": "10000",
                      "acted_at": "2016-03-08"
                    },
                    {
                      "type": "referral",
                      "text": "Read twice and referred to the Committee on Energy and Natural Resources.",
                      "status": "REFERRED",
                      "references": [],
                      "committees": [
                        "SSEG"
                      ],
                      "action_code": "",
                      "acted_at": "2016-03-08"
                    }
                  ]
                }
              ]
            }


## Group Tallies

Resources related congressional tallies (votes & questions on Bills).

## Tally [/api/tallies/{id}]

### Get Detailed Tally Information [GET]

+ Request
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id: `286` (number, required) - tallies' TALLY ID.

+ Response 200 (application/json)

            {
              "Yea": 346,
              "Not Voting": 21,
              "Nay": 66,
              "votes": [
                {
                  "value": "Yea",
                  "person": {
                    "last_name": "Zinke",
                    "is_current": true,
                    "image_url": "https://theunitedstates.io/images/congress/225x275/Z000018.jpg",
                    "id": 12312,
                    "first_name": "Ryan",
                    "current_state": "MT",
                    "current_party": "Democrat",
                    "current_office": "House",
                    "current_district": 0
                  },
                  "id": 105150
                },
                {
                  "value": "Not Voting",
                  "person": {
                    "last_name": "Pompeo",
                    "is_current": true,
                    "image_url": "https://theunitedstates.io/images/congress/225x275/P000602.jpg",
                    "id": 12105,
                    "first_name": "Mike",
                    "current_state": "KS",
                    "current_party": "Republican",
                    "current_office": "House",
                    "current_district": 4
                  },
                  "id": 104798
                },
                {
                  "value": "Nay",
                  "person": {
                    "last_name": "Mooney",
                    "is_current": true,
                    "image_url": "https://theunitedstates.io/images/congress/225x275/M001195.jpg",
                    "id": 12332,
                    "first_name": "Alex",
                    "current_state": "WV",
                    "current_party": "Republican",
                    "current_office": "House",
                    "current_district": 2
                  },
                  "id": 104763
                },
              ],
              "type": "On Motion to Suspend the Rules and Pass, as Amended",
              "treaty": null,
              "subject": "To amend the Violent Crime Control and Law Enforcement Act of 1994, to reauthorize the Missing Alzheimer’s Disease and Patient Alert Program, and to promote initiatives that will reduce the risk of injury and death relating to the wandering characteristics of some children with autism",
              "source_url": "http://clerk.house.gov/evs/2016/roll619.xml",
              "session": "2016",
              "result_text": "Passed",
              "result": "Passed",
              "requires": "2/3",
              "record_updated_at": null,
              "question": "On Motion to Suspend the Rules and Pass, as Amended: H R 4919 To amend the Violent Crime Control and Law Enforcement Act of 1994, to reauthorize the Missing Alzheimer’s Disease and Patient Alert Program, and to promote initiatives that will reduce the risk of injury and death relating to the wandering characteristics of some children with autism",
              "bill": {
                "type": "s",
                "top_subject": {
                  "name": "Health",
                  "id": 56
                },
                "short_title": "Kevin and Avonte's Law of 2016",
                "pretty_gpo": "H.R. 4919",
                "popular_title": null,
                "official_title": "To amend the Violent Crime Control and Law Enforcement Act of 1994, to reauthorize the Missing Alzheimer's Disease Patient Alert Program, and to promote initiatives that will reduce the risk of injury and death relating to the wandering characteristics of some children with autism.",
                "id": 10867,
                "gpo_id": "hr4919-114",
                "congress_number": 114
              },
              "number": 619,
              "id": 286,
              "gpo_id": "h619-114.2016",
              "date": "2016-12-08T10:50:00",
              "chamber": "House",
              "category": "passage-suspension",
              "nomination_id": null,
              "amendment": null
            }

## Group Bills

Resources related congressional bills & resolutions.

# Bills [/api/bills]

### Get All Bills [GET]

+ Request
    + Headers

            Authorization: Bearer <token>

+ Response 200 (application/json)

            {
              "pagination": [
                {
                  "url": "/api/bills?page=1",
                  "page": 1,
                  "label": "1",
                  "current": true
                }
              ],
              "data": [
                {
                  "vetoed": false,
                  "type": "s",
                  "top_subject": {
                    "name": "Health",
                    "id": 56
                  },
                  "titles": [
                    {
                      "type": "official",
                      "title": "A bill to establish a national program to identify and reduce losses from landslide hazards, to establish a national 3D Elevation Program, and for other purposes.",
                      "is_for_portion": false,
                      "as": "introduced"
                    },
                    {
                      "type": "display",
                      "title": "A bill to establish a national program to identify and reduce losses from landslide hazards, to establish a national 3D Elevation Program, and for other purposes.",
                      "is_for_portion": false,
                      "as": null
                    }
                  ],
                  "summary_text": null,
                  "summary_date": null,
                  "status_at": null,
                  "status": "REFERRED",
                  "source_url": "https://www.gpo.gov/fdsys/bulkdata/BILLSTATUS/115/s/BILLSTATUS-115s698.xml",
                  "short_title": null,
                  "popular_title": null,
                  "official_title": "A bill to establish a national program to identify and reduce losses from landslide hazards, to establish a national 3D Elevation Program, and for other purposes.",
                  "number": "698",
                  "introduced_at": "2017-03-22",
                  "id": 14884,
                  "history": {
                    "vetoed": false,
                    "enacted": false,
                    "awaiting_signature": false,
                    "active": false
                  },
                  "gpo_id": "s698-115",
                  "pretty_gpo": "S. 698",
                  "gpo_data_updated_at": null,
                  "full_text_url": null,
                  "enacted_as": null,
                  "enacted": false,
                  "congress_number": 115,
                  "committee_history": [
                    {
                      "committee_id": "SSCM",
                      "committee": "Senate Commerce, Science, and Transportation",
                      "activity": [
                        "referral"
                      ]
                    }
                  ],
                  "awaiting_signature": false,
                  "amendments": [],
                  "active": false,
                  "actions": [
                    {
                      "type": "action",
                      "text": "Introduced in Senate",
                      "references": [],
                      "action_code": "10000",
                      "acted_at": "2017-03-22"
                    },
                    {
                      "type": "referral",
                      "text": "Read twice and referred to the Committee on Commerce, Science, and Transportation.",
                      "status": "REFERRED",
                      "references": [],
                      "committees": [
                        "SSCM"
                      ],
                      "action_code": "",
                      "acted_at": "2017-03-22"
                    }
                  ]
                },
              ]
            }

## Bills [/api/bills?subjects%5B%5D={id_one}&subjects%5B%5D={id_two}]

### Get Bills By Subject [GET]
The pattern can be repeated for any number of subjects.

+ Request
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id_one: `2` (number) - subject ID.
    + id_two: `5` (number) - subject ID.

+ Response 200 (application/json)

            {
              "pagination": [
                {
                  "url": "/api/bills?page=1&subjects[]=1&subjects[]=2",
                  "page": 1,
                  "label": "1",
                  "current": true
                }
              ],
              "data": [
                {
                  "vetoed": false,
                  "type": "hconres",
                  "top_subject": {
                    "name": "Health",
                    "id": 56
                  },
                  "titles": [
                    {
                      "type": "official",
                      "title": "Supporting the designation of the week of September 11 to September 17 as \"Patriot Week\".",
                      "is_for_portion": false,
                      "as": "introduced"
                    },
                    {
                      "type": "display",
                      "title": "Supporting the designation of the week of September 11 to September 17 as \"Patriot Week\".",
                      "is_for_portion": false,
                      "as": null
                    }
                  ],
                  "summary_text": "Expresses support for the designation of Patriot Week.\n\nRecognizes that each generation should renew the spirit of the nation based on the first principles, historical figures, founding documents, and symbols of the United States.",
                  "summary_date": "2017-01-24T05:00:00",
                  "status_at": null,
                  "status": "REFERRED",
                  "source_url": "https://www.gpo.gov/fdsys/bulkdata/BILLSTATUS/115/hconres/BILLSTATUS-115hconres12.xml",
                  "short_title": null,
                  "popular_title": null,
                  "official_title": "Supporting the designation of the week of September 11 to September 17 as \"Patriot Week\".",
                  "number": "12",
                  "introduced_at": "2017-01-24",
                  "id": 1,
                  "history": {
                    "vetoed": false,
                    "enacted": false,
                    "awaiting_signature": false,
                    "active": false
                  },
                  "gpo_id": "hconres12-115",
                  "pretty_gpo": "H.C.O.N.R.E.S 12",
                  "gpo_data_updated_at": null,
                  "full_text_url": null,
                  "enacted_as": null,
                  "enacted": false,
                  "congress_number": 115,
                  "committee_history": [
                    {
                      "committee_id": "HSGO",
                      "committee": "House Oversight and Government Reform",
                      "activity": [
                        "referral"
                      ]
                    }
                  ],
                  "awaiting_signature": false,
                  "amendments": [],
                  "active": false,
                  "actions": [
                    {
                      "type": "action",
                      "text": "Introduced in House",
                      "references": [],
                      "action_code": "Intro-H",
                      "acted_at": "2017-01-24"
                    },
                    {
                      "type": "referral",
                      "text": "Referred to the House Committee on Oversight and Government Reform.",
                      "status": "REFERRED",
                      "references": [],
                      "committees": [
                        "HSGO"
                      ],
                      "action_code": "H11100",
                      "acted_at": "2017-01-24"
                    }
                  ]
                },
              ]
            }

## Bill [/api/bills/{id}]

### Get Detailed Bill Information [GET]

+ Request
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id: `7141` (number, required) - bill's BILL ID.

+ Response 200 (application/json)

            {
              "short_title": "Kevin and Avonte's Law of 2016",
              "summary_date": "2016-04-12T04:00:00",
              "congress_number": 114,
              "vetoed": false,
              "titles": [
                {
                "type": "short",
                "title": "Kevin and Avonte's Law of 2016",
                "is_for_portion": false,
                "as": "introduced"
                },
              ],
              "id": 10867,
              "popular_title": null,
              "committee_history": [
                {
                  "committee_id": "HSED",
                  "committee": "House Education and the Workforce",
                  "activity": [
                    "referral"
                  ]
                },
              ],
              "number": "4919",
              "history": {
                "vetoed": false,
                "house_passage_result_at": "2016-12-08T10:51:13-05:00",
                "house_passage_result": "pass",
                "enacted": false,
                "awaiting_signature": false,
                "active_at": "2016-12-07T18:01:18-05:00",
                "active": true
              },
              "enacted": false,
              "subjects": [
                {
                  "name": "Right of privacy",
                  "id": 49
                },
                {
                  "name": "Neurological disorders",
                  "id": 8
                }
              ],
              "sponsor": {
                "maplight": "469",
                "is_current": true,
                "wikipedia": "Chris Smith (New Jersey politician)",
                "image_url": "https://theunitedstates.io/images/congress/225x275/S000522.jpg",
                "gender": "M",
                "google_entity_id": "kg:/m/033f4d",
                "facebook": "RepChrisSmith",
                "id": 12157,
                "bioguide": "S000522",
                "first_name": "Christopher",
                "lis": null,
                "terms": [
                  {
                    "url": "http://chrissmith.house.gov",
                    "type": "House",
                    "state_rank": null,
                    "state": "NJ",
                    "start": "2017-01-03",
                    "rss_url": "http://chrissmith.house.gov/news/rss.aspx",
                    "phone": "202-225-3765",
                    "party_affiliations": null,
                    "party": "Republican",
                    "office": "2373 Rayburn House Office Building",
                    "is_current": null,
                    "id": 42753,
                    "fax": null,
                    "end": "2019-01-03",
                    "district": 4,
                    "contact_form": "https://chrissmith.house.gov/contact/write.htm",
                    "class": null,
                    "caucus": null,
                    "address": "2373 Rayburn HOB; Washington DC 20515-3004"
                  },
                ],
                "religion": "Roman Catholic",
                "instagram_id": "",
                "wikidata": "Q981167",
                "thomas": "01071",
                "current_office": "House",
                "house_history": "21787",
                "votesmart": "26952",
                "last_name": "Smith",
                "current_district": 4,
                "cspan": "6411",
                "twitter": "RepChrisSmith",
                "twitter_id": "1289319271",
                "icpsr": "14863",
                "current_state": "NJ",
                "current_party": "Democrat",
                "youtube_id": "UCtCNUDo3-I1gsd_03ppDfZg",
                "bio": null,
                "instagram": "",
                "opensecrets": "N00009816",
                "official_full_name": "Christopher H. Smith",
                "ballotpedia": null,
                "youtube": "USRepChrisSmith",
                "facebook_id": "371621772908416",
                "birthday": "1953-03-04"
              },
              "tallies": [
                {
                  "Yea": 346,
                  "Not Voting": 21,
                  "Nay": 66,
                  "votes": [
                    {
                      "value": "Yea",
                      "person": {
                        "last_name": "Zinke",
                        "is_current": true,
                        "image_url": "https://theunitedstates.io/images/congress/225x275/Z000018.jpg",
                        "id": 12312,
                        "first_name": "Ryan",
                        "current_state": "MT",
                        "current_party": "Democrat",
                        "current_office": "House",
                        "current_district": 0
                      },
                      "id": 105150
                    },
                  ],
                  "type": "On Motion to Suspend the Rules and Pass, as Amended",
                  "treaty": null,
                  "subject": "To amend the Violent Crime Control and Law Enforcement Act of 1994, to reauthorize the Missing Alzheimer’s Disease and Patient Alert Program, and to promote initiatives that will reduce the risk of injury and death relating to the wandering characteristics of some children with autism",
                  "source_url": "http://clerk.house.gov/evs/2016/roll619.xml",
                  "session": "2016",
                  "result_text": "Passed",
                  "result": "Passed",
                  "requires": "2/3",
                  "record_updated_at": null,
                  "question": "On Motion to Suspend the Rules and Pass, as Amended: H R 4919 To amend the Violent Crime Control and Law Enforcement Act of 1994, to reauthorize the Missing Alzheimer’s Disease and Patient Alert Program, and to promote initiatives that will reduce the risk of injury and death relating to the wandering characteristics of some children with autism",
                  "number": 619,
                  "id": 286,
                  "gpo_id": "h619-114.2016",
                  "date": "2016-12-08T10:50:00",
                  "chamber": "House",
                  "category": "passage-suspension",
                  "nomination_id": null,
                  "amendment": null
                }
              ],
              "gpo_data_updated_at": "2017-01-17T12:34:41",
              "awaiting_signature": false,
              "gpo_id": "hr4919-114",
              "pretty_gpo": "H.R. 4919",
              "official_title": "To amend the Violent Crime Control and Law Enforcement Act of 1994, to reauthorize the Missing Alzheimer's Disease Patient Alert Program, and to promote initiatives that will reduce the risk of injury and death relating to the wandering characteristics of some children with autism.",
              "active": true,
              "committees": [
                {
                  "url": "http://judiciary.house.gov/",
                  "type": "house",
                  "thomas_id": "HSJU",
                  "senate_committee_id": null,
                  "rss_url": null,
                  "phone": "(202) 225-3951",
                  "past_names": null,
                  "name": "House Committee on the Judiciary",
                  "minority_rss_url": "http://democrats.judiciary.house.gov/rss.xml",
                  "jurisdiction_source": "http://judiciary.house.gov/index.cfm/about-the-committee",
                  "jurisdiction": "The Committee on the Judiciary has been called the lawyer for the House of Representatives because of its jurisdiction over matters relating to the administration of justice in federal courts, administrative bodies, and law enforcement agencies. Its infrequent but important role in impeachment proceedings has also brought it much attention.",
                  "id": 14,
                  "house_committee_id": "JU",
                  "address": "2138 RHOB; Washington, DC 20515-6216"
                },
              ],
              "enacted_as": null,
              "top_term": "Crime and law enforcement",
              "related_bills": [
                {
                  "related_bill_id": 3329,
                  "reason": "identical"
                }
              ],
              "type": "hr",
              "status": "PASS_OVER:HOUSE",
              "cosponsors": [
                {
                  "maplight": "2084",
                  "is_current": true,
                  "wikipedia": "David Young (Iowa politician)",
                  "image_url": "https://theunitedstates.io/images/congress/225x275/Y000066.jpg",
                  "gender": "M",
                  "google_entity_id": "kg:/m/0127pc92",
                  "facebook": "RepDavidYoung",
                  "id": 12300,
                  "bioguide": "Y000066",
                  "first_name": "David",
                  "lis": null,
                  "terms": [
                    {
                      "url": "https://davidyoung.house.gov",
                      "type": "House",
                      "state_rank": null,
                      "state": "IA",
                      "start": "2017-01-03",
                      "rss_url": null,
                      "phone": "202-225-5476",
                      "party_affiliations": null,
                      "party": "Republican",
                      "office": "240 Cannon House Office Building",
                      "is_current": null,
                      "id": 43356,
                      "fax": null,
                      "end": "2019-01-03",
                      "district": 3,
                      "contact_form": "https://davidyoung.house.gov/contact",
                      "class": null,
                      "caucus": null,
                      "address": "240 Cannon HOB; Washington DC 20515-1503"
                    }
                  ],
                  "religion": null,
                  "instagram_id": "",
                  "wikidata": "Q19321008",
                  "thomas": "02242",
                  "current_office": "House",
                  "house_history": null,
                  "votesmart": null,
                  "last_name": "Young",
                  "current_district": 3,
                  "cspan": null,
                  "twitter": "RepDavidYoung",
                  "twitter_id": "314205957",
                  "icpsr": null,
                  "current_state": "IA",
                  "current_party": "Republican",
                  "youtube_id": "",
                  "bio": null,
                  "instagram": "",
                  "opensecrets": "N00035509",
                  "official_full_name": "David Young",
                  "ballotpedia": null,
                  "youtube": "",
                  "facebook_id": "",
                  "birthday": "1968-05-11"
                }
              ],
              "actions": [
                {
                  "type": "action",
                  "text": "Motion to reconsider laid on the table Agreed to without objection.",
                  "references": [],
                  "action_code": "H38310",
                  "acted_at": "2016-12-08T10:51:14-05:00"
                },
                {
                  "where": "h",
                  "vote_type": "vote",
                  "type": "vote",
                  "text": "On motion to suspend the rules and pass the bill, as amended Agreed to by the Yeas and Nays: (2/3 required): 346 - 66 (Roll no. 619).",
                  "suspension": true,
                  "status": "PASS_OVER:HOUSE",
                  "roll": "619",
                  "result": "pass",
                  "references": [
                    {
                      "type": "text",
                      "reference": "CR 12/7/2016 H7333-7335"
                    }
                  ],
                  "how": "roll",
                  "action_code": "H37300",
                  "acted_at": "2016-12-08T10:51:13-05:00"
                }
              ],
              "full_text_url": null,
               "introduced_at": "2016-04-12",
               "amendments": [],
               "source_url": "https://www.gpo.gov/fdsys/bulkdata/BILLSTATUS/114/hr/BILLSTATUS-114hr4919.xml",
               "summary_text": "Kevin and Avonte's Law of 2016Missing Americans Alert Program Act of 2016This bill amends the Violent Crime Control and Law Enforcement Act of 1994 to revise and rename the Missing Alzheimer's Disease Patient Alert Program as the Missing Americans Alert Program and to reauthorize it through FY2021.It directs the Department of Justice's (DOJ's) Bureau of Justice Assistance to award grants to state and local law enforcement or public safety agencies and nonprofit organizations to prevent wandering and locate missing individuals with dementia or developmental disabilities.DOJ must establish and certain grant recipients must comply with standards and best practices related to the use of tracking technology to locate missing individuals with dementia or developmental disabilities.The bill amends the Missing Children's Assistance Act to specify that, with respect to training and technical assistance provided by the National Center for Missing and Exploited Children, cases involving missing and exploited children include cases involving children with developmental disabilities such as autism.",
               "status_at": "2016-12-08T10:51:13"
              }

## Group Subject

Resources related bill subjects

## Subjects [/api/subjects]

### Get all Subjects [GET]

+ Request
    + Headers

            Authorization: Bearer <token>

+ Response 200 (application/json)

              {
                "data": [
                  {
                    "name": "Immigration",
                    "id": 1
                  },
                  {
                    "name": "Intergovernmental relations",
                    "id": 2
                  },
                  {
                    "name": "Middle East",
                    "id": 3
                  },
                  {
                    "name": "Refugees, asylum, displaced persons",
                    "id": 4
                  },
                  {
                    "name": "State and local government operations",
                    "id": 5
                  },
                  {
                    "name": "Syria",
                    "id": 6
                  },
                  {
                    "name": "Asia",
                    "id": 7
                  },
                  {
                    "name": "Commemorative events and holidays",
                    "id": 8
                  },
                ]
              }

## Group State

Get information about States

## States [/api/states/{state}]

### Get State's Districts [GET]

+ Request
    + Headers

            Authorization: Bearer <token>

+ Parameters

    + state: `md` (string, required) - state's two character abbreviation

+ Response 200 (application/json)

              {
                "districts": [
                  1,
                  2,
                  3,
                  4,
                  5,
                  6,
                  7,
                  8
                ]
              }

## State Image [/api/states/{state}/image]

### Get hero image for each State [GET]

+ Request
    + Headers

            Authorization: Bearer <token>

+ Parameters

    + state: `md` (string, required) - state's two character abbreviation

+ Response 200 (application/json)

              {
                "url": "https://s3.amazonaws.com/kratos-assets/state-images/statue-of-liberty-539318_1280.jpg"
              }


## Group Feedback

Get a list of questions and respond with feedback

## Feedback [/api/feedback]

### Get Feedback Questions [GET]

+ Request
    + Headers

            Authorization: Bearer <token>

+ Response 200 (application/json)

            {
              "questions": [
                "Does Donald Trump resemble a rotten pumpkin?",
                "How could Kratos be improved?"
              ]
            }

### Post Feedback Answers [POST]

The request body should match this example with the question as a string and the value set to the feedback answer.
```
  {
    "answers": {
      "Does Donald Trump resemble a rotten pumpkin?": "HELL YES",
      "How could Kratos be improved?": "A LOT"
    },
    "user-id": 1
  }
```

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

    + Attributes(object)

        + `user-id`: `4` (number, required)
        + questions
          + `Does Donald Trump resemble a rotten pumpkin?`: `HELL YES!` (string, required)

+ Response 200 (application/json)

              {
                "ok":true
              }
