FORMAT: 1A
HOST: https://kratos.website

# Kratos API

Kratos API documentation.

## Group Root

## Kratos API Root [/]

This resource does not have any attributes. Instead it offers a short welcome message.

## Retrieve the Entry Point [GET]

+ Response 200 (application/json)

        {
            "Welcome to the Kratos API!"
        }

## Group User

Resources related users, on-boarding, and registration.

## Register [/api/registrations]

Register and modify user's information.

### Create A New User Registration [POST]

+ Request (application/json)

    + Attributes(object)

        + user
            + password: `password` (string, required)
            + email: `legalize@ranch.com` (string, required)
            + apn_token: `<ce8be627 2e43e855 16033e24 b4c28922 0eeda487 9c477160 b2545e95 b68b5969>` (string)
            + phone: `1234567890` (number)
            + first_name: `Eric` (string)
            + last_name: `Andre` (string)
            + address: `700 Ranch` (string)
            + city: `Brooklyn` (string)
            + state: `NY` (string)
            + zip: `11211` (number)
            + party: `Democrat` (string)
            + birthday: `2001-03-11` (string)

+ Response 200 (application/json)

            {
              "user": {
                "zip": 11211,
                "state": "NY",
                "phone": 1234567890,
                "email": "legalize@ranch.com",
                "last_name": "Andre",
                "id": 4,
                "first_name": "Eric",
                "district": 7,
                "city": "Brooklyn",
                "address": "700 Ranch"
                "party": "Democrat",
                "birthday": "2001-03-11",
                "apn_token": "<ce8be627 2e43e855 16033e24 b4c28922 0eeda487 9c477160 b2545e95 b68b5969>"
              },
              "token": "eyJhbGciOiguyagiuafhkugafI6IkpXVCJ9.eygiluafglafhufaleHAiOjE0NzU5ODk1NjMsImlhdCI6MTQ3MzM5NzU2MywiaXNzIjoiS3JhdG9zQXBpRGV2IiwianRpIjoiYmI2NjY1YjEtMjFlMi00YjFkLTlmMzEtY2U5NWU3NTdmMWNjIiwicGVtIahdgjghjkafbhjafwIjoidG9rZW4ifQ.y5oGphNTemlGLU3xhnPc5qplkLLK5hw2RmIZrbm_pc-ThjkafjkafnjlYOMpNcNVhcfJzQZjwY3o3BJUUfhYA"
            }

## Login [/api/login]

Login and existing user and start a session.

### Login & Create a New Session [POST]

+ Request (application/json)

    + Attributes(object)

        + session
            + email: `1234567890` (string, required)
            + password: `password` (string, required)

+ Response 200 (application/json)

            {
              "user": {
                "zip": 11211,
                "state": "NY",
                "phone": 1234567890,
                "email": "legalize@ranch.com",
                "last_name": "Andre",
                "id": 4,
                "first_name": "Eric",
                "district": 7,
                "city": "Brooklyn",
                "address": "700 Ranch",
                "party": "Democrat",
                "birthday": "2001-03-11",
                "apn_token": "<ce8be627 2e43e855 16033e24 b4c28922 0eeda487 9c477160 b2545e95 b68b5969>"
              },
              "token": "eyJhbGciOiguyagiuafhkugafI6IkpXVCJ9.eygiluafglafhufaleHAiOjE0NzU5ODk1NjMsImlhdCI6MTQ3MzM5NzU2MywiaXNzIjoiS3JhdG9zQXBpRGV2IiwianRpIjoiYmI2NjY1YjEtMjFlMi00YjFkLTlmMzEtY2U5NWU3NTdmMWNjIiwicGVtIahdgjghjkafbhjafwIjoidG9rZW4ifQ.y5oGphNTemlGLU3xhnPc5qplkLLK5hw2RmIZrbm_pc-ThjkafjkafnjlYOMpNcNVhcfJzQZjwY3o3BJUUfhYA"
            }

## Me [/api/me]

Get & update information on the current user based on the session.

### Get My information [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Response 200 (application/json)

            {
              "zip": 11211,
              "state": "NY",
              "phone": 1234567890,
              "email": "legalize@ranch.com",
              "last_name": "Andre",
              "id": 4,
              "first_name": "Eric",
              "district": 7,
              "city": "Brooklyn",
              "address": "700 Ranch",
              "party": "Democrat",
              "birthday": "2001-03-11",
              "apn_token": "<ce8be627 2e43e855 16033e24 b4c28922 0eeda487 9c477160 b2545e95 b68b5969>"
            }

### Update My information [POST]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

    + Attributes(object)

        + user
            + password: `super_sekrit` (string, required)
            + phone: `1111111111` (number)
            + apn_token: `<goat>` (string)
            + first_name: `Lebron` (string)
            + last_name: `James` (string)
            + address: `Quicken Loans Arena` (string)
            + city: `Cleveland` (string)
            + state: `OH` (string)
            + zip: `44115` (number)
            + party: `Democrat` (string)
            + birthday: `1984-12-30` (string)

+ Response 200 (application/json)

            {
              "zip": 44115,
              "state": "OH",
              "phone": 1111111111,
              "email": "legalize@ranch.com",
              "last_name": "James",
              "id": 4,
              "first_name": "Lebron",
              "district": 11,
              "city": "Cleveland",
              "address": "Quicken Loans Arena",
              "party": "Democrat",
              "birthday": "1984-12-30",
              "apn_token": "<goat>"
            }

## My Voting Record [/api/me/votes]

List the current user's voting record and create new votes.

### View Voting Record [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Response 200 (application/json)

            {
              "pagination": [
                {
                  "url": "/api/me/votes?page=1",
                  "page": 1,
                  "label": "1",
                  "current": true
                }
              ],
              "data": {
                "voting_record": [
                  {
                    "value": "Nay",
                    "tally": {
                      "type": "On Motion to Suspend the Rules and Pass",
                      "treaty": null,
                      "subject": "Intelligence Authorization Act for Fiscal Year 2017",
                      "session": "2016",
                      "result_text": "Passed",
                      "result": "Passed",
                      "requires": "2/3",
                      "record_updated_at": null,
                      "question": "On Motion to Suspend the Rules and Pass: H R 6393 Intelligence Authorization Act for Fiscal Year 2017",
                      "bill_short_title": "H R 6393 Intelligence Authorization Act for Fiscal Year 2017",
                      "bill_official_title": "On Motion to Suspend the Rules and Pass: H R 6393 Intelligence Authorization Act for Fiscal Year 2017",
                      "number": 593,
                      "id": 1,
                      "date": "2016-11-30T18:47:00",
                      "chamber": "House",
                      "category": "passage-suspension",
                      "amendment": null
                    },
                    "id": 1
                  }
                ]
              }
            }

### Create new Vote [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer <token>

    + Attributes(object)

        + vote
            + tally_id: `420` (number, required)
            + value: `Aye` (string, required)

+ Response 200 (application/json)

            {
              "value": "Aye",
              "tally": {
                "type": "On the Cloture Motion",
                "treaty": null,
                "subject": "Upon Reconsideration Motion to Invoke Cloture on the Motion to Proceed to H.R. 5293",
                "session": "2016",
                "result_text": "Cloture on the Motion to Proceed Rejected (55-42, 3/5 majority required)",
                "result": "Cloture on the Motion to Proceed Rejected",
                "requires": "3/5",
                "record_updated_at": null,
                "question": "On Cloture on the Motion to Proceed H.R. 5293",
                "bill_short_title": "H.R. 5293",
                "bill_official_title": "On Cloture on the Motion to Proceed H.R. 5293",
                "number": 133,
                "id": 420,
                "date": "2016-07-14T12:46:00",
                "chamber": "Senate",
                "category": "cloture",
                "amendment": null
              },
              "id": 3
            }

## My Individual Votes [/api/me/votes/{id}]

Read, update, & destroy the current user's individual votes.

### View Vote [GET]

+ Request (application/json)

    + Headers

            Authorization: Bearer <token>

+ Parameters

    + id: `420` (number, required) - TALLY ID.

+ Response 200 (application/json)

            {
              "value": "Aye",
              "tally_id": 420,
              "id": 3
            }

### Update a Vote [PUT]

+ Request (application/json)

    + Headers

            Authorization: Bearer <token>

    + Attributes(object)

        + vote
            + value: `Nay` (string, required)

+ Parameters

    + id: `420` (number, required) - TALLY ID.

+ Response 200 (application/json)

            {
              "value": "Nay",
              "tally": {
                "type": "On the Cloture Motion",
                "treaty": null,
                "subject": "Upon Reconsideration Motion to Invoke Cloture on the Motion to Proceed to H.R. 5293",
                "session": "2016",
                "result_text": "Cloture on the Motion to Proceed Rejected (55-42, 3/5 majority required)",
                "result": "Cloture on the Motion to Proceed Rejected",
                "requires": "3/5",
                "record_updated_at": null,
                "question": "On Cloture on the Motion to Proceed H.R. 5293",
                "bill_short_title": "H.R. 5293",
                "bill_official_title": "On Cloture on the Motion to Proceed H.R. 5293",
                "number": 133,
                "id": 420,
                "bill_id": 689,
                "date": "2016-07-14T12:46:00",
                "chamber": "Senate",
                "category": "cloture",
                "amendment": null
              },
              "id": 3
            }

### Delete a Vote [DELETE]

+ Request (application/json)

    + Headers

            Authorization: Bearer <token>

+ Parameters

    + id: `420` (number, required) - TALLY ID.

+ Response 200 (application/json)

            {
              "ok":true
            }

## My Actions [/api/me/actions]

Create User Actions to record when a user contacts specific representatives.

### Record a new Action [POST]

+ Request (application/json)

    + Headers

            Authorization: Bearer <token>

    + Attributes(object)

        + user_action
            + action: `call` (string, required)
            + person_id: 3 (number, required)
            + last_bill_id: 1 (number, required)
            + last_tally_id: 2 (number, required)
            + last_bill_seen_at: `2015-05-05T12:30:00` (optional, string) - datetime in UTC (ISO8601 format)
            + last_tally_seen_at: `2015-05-05T12:30:00` (optional, string) - datetime in UTC (ISO8601 format)

+ Response 200 (application/json)

            {
              "ok":true
            }

## Reset Password [/api/forgot-password]

Handle a User who does not remember their passoword.

### Request a password reset email [POST]

+ Request (application/json)

    + Attributes(object)

        + email: `lebronjames@cavs.nba` (string, required)

+ Response 200 (application/json)

            {
              "ok": true
            }



## Group Districts

Resources related congressional districts.

## Show District [/api/districts/{state}/{id}]

Find information and representatives for a congressional district.

### Show Congressional District [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Parameters

    + state: `NY` (string, required) - state abbreviation.
    + id: `7` (number, required) - number for the congressional district.

+ Response 200 (application/json)

            {
              "pagination": [
                {
                  "url": "/api/districts/NY/7?id=7&page=1&state=NY",
                  "page": 1,
                  "label": "1",
                  "current": true
                }
              ],
              "data": [
                {
                "maplight": "606",
                "is_current": true,
                "wikipedia": "Chuck Schumer",
                "image_url": "https://theunitedstates.io/images/congress/225x275/S000148.jpg",
                "gender": "M",
                "google_entity_id": "kg:/m/01w74d",
                "facebook": "chuckschumer",
                "id": 12138,
                "bioguide": "S000148",
                "first_name": "Charles",
                "lis": "S270",
                "terms": [
                  {
                    "url": "https://www.schumer.senate.gov",
                    "type": "Senate",
                    "state_rank": "senior",
                    "state": "NY",
                    "start": "2017-01-03",
                    "rss_url": null,
                    "phone": "202-224-6542",
                    "party_affiliations": null,
                    "party": "Democrat",
                    "office": "322 Hart Senate Office Building",
                    "is_current": null,
                    "id": 42560,
                    "fax": null,
                    "end": "2023-01-03",
                    "district": null,
                    "contact_form": "http://www.schumer.senate.gov/contact/email-chuck",
                    "class": "3",
                    "caucus": null,
                    "address": "322 Hart Senate Office Building Washington DC 20510"
                  },
                ],
                "religion": "Jewish",
                "instagram_id": "",
                "wikidata": "Q380900",
                "thomas": "01036",
                "current_office": "Senate",
                "house_history": "21322",
                "votesmart": "26976",
                "last_name": "Schumer",
                "current_district": null,
                "cspan": "5929",
                "twitter": "SenSchumer",
                "twitter_id": "17494010",
                "icpsr": "14858",
                "current_state": "NY",
                "current_party": "Democrat",
                "youtube_id": "UC-ABttxh8uQv_10qmwGaidw",
                "bio": null,
                "instagram": "",
                "opensecrets": "N00001093",
                "official_full_name": "Charles E. Schumer",
                "ballotpedia": "Chuck Schumer",
                "youtube": "SenatorSchumer",
                "facebook_id": "15771239406",
                "birthday": "1950-11-23"
                }
              ]
            }

## Group People

Information related congressional representatives.

## People [/api/people/{id}]

### Get Person [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id: `12138` (number, required) - representative's PERSON ID.

+ Response 200 (application/json)

            {
              "maplight": "606",
              "is_current": true,
              "wikipedia": "Chuck Schumer",
              "image_url": "https://theunitedstates.io/images/congress/225x275/S000148.jpg",
              "gender": "M",
              "google_entity_id": "kg:/m/01w74d",
              "facebook": "chuckschumer",
              "id": 12138,
              "bioguide": "S000148",
              "first_name": "Charles",
              "lis": "S270",
              "terms": [
                {
                  "url": "https://www.schumer.senate.gov",
                  "type": "Senate",
                  "state_rank": "senior",
                  "state": "NY",
                  "start": "2017-01-03",
                  "rss_url": null,
                  "phone": "202-224-6542",
                  "party_affiliations": null,
                  "party": "Democrat",
                  "office": "322 Hart Senate Office Building",
                  "is_current": null,
                  "id": 42560,
                  "fax": null,
                  "end": "2023-01-03",
                  "district": null,
                  "contact_form": "http://www.schumer.senate.gov/contact/email-chuck",
                  "class": "3",
                  "caucus": null,
                  "address": "322 Hart Senate Office Building Washington DC 20510"
                },
              ],
              "religion": "Jewish",
              "instagram_id": "",
              "wikidata": "Q380900",
              "thomas": "01036",
              "current_office": "Senate",
              "house_history": "21322",
              "votesmart": "26976",
              "last_name": "Schumer",
              "current_district": null,
              "cspan": "5929",
              "twitter": "SenSchumer",
              "twitter_id": "17494010",
              "icpsr": "14858",
              "current_state": "NY",
              "current_party": "Democrat",
              "youtube_id": "UC-ABttxh8uQv_10qmwGaidw",
              "bio": null,
              "instagram": "",
              "opensecrets": "N00001093",
              "official_full_name": "Charles E. Schumer",
              "ballotpedia": "Chuck Schumer",
              "youtube": "SenatorSchumer",
              "facebook_id": "15771239406",
              "birthday": "1950-11-23"
            }


## People's Votes [/api/people/{id}/votes]

### Get Voting Record [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id: `12138` (number, required) - representative's PERSON ID.

+ Response 200 (application/json)

            {
              "pagination": [
                {
                  "url": "/api/people/12138/votes?id=12138&page=1",
                  "page": 1,
                  "label": "1",
                  "current": true
                },
                {
                  "url": "/api/people/12138/votes?id=12138&page=2",
                  "page": 2,
                  "label": "Next",
                  "current": false
                },
                {
                  "url": "/api/people/12138/votes?id=12138&page=9",
                  "page": 9,
                  "label": "Last",
                  "current": false
                }
              ],
              "data": {
                "voting_record": [
                  {
                    "value": "Nay",
                    "tally": {
                      "type": "On the Motion (Motion to Concur in the House Amendment to S. 612)",
                      "treaty": null,
                      "subject": "Motion to Concur in the House Amendment to S. 612",
                      "session": "2016",
                      "result_text": "Motion Agreed to (78-21)",
                      "result": "Motion Agreed to",
                      "requires": "1/2",
                      "record_updated_at": null,
                      "question": "On the Motion (Motion to Concur in the House Amendment to S. 612)",
                      "bill_short_title": "S. 612",
                      "bill_official_title": "House Amendment to S. 612",
                      "number": 163,
                      "id": 769,
                      "bill_id": 689,
                      "date": "2016-12-10T00:57:00",
                      "chamber": "Senate",
                      "category": "passage",
                      "amendment": null
                    },
                    "id": 279847
                  },
                ]
              }
            }


## People's Bills [/api/people/{id}/bills]

### Get Sponsored Bills [GET]

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id: `12138` (number, required) - representative's PERSON ID.

+ Response 200 (application/json)

            {
              "pagination": [
                {
                  "url": "/api/people/36/bills?id=36&page=1",
                  "page": 1,
                  "label": "1",
                  "current": true
                }
              ],
              "data": [
                {
                  "vetoed": false,
                  "type": "s",
                  "top_term": "Public lands and natural resources",
                  "titles": [
                    {
                      "type": "official",
                      "title": "A bill to extend the authorization of the Highlands Conservation Act.",
                      "is_for_portion": false,
                      "as": "introduced"
                    },
                    {
                      "type": "display",
                      "title": "A bill to extend the authorization of the Highlands Conservation Act.",
                      "is_for_portion": false,
                      "as": null
                    }
                  ],
                  "summary_text": "This bill amends the Highlands Conservation Act to reauthorize through FY2021: (1) land conservation partnership projects in the highlands regions of Connecticut, New Jersey, New York, and Pennsylvania; and (2) Forest Service and Department of Agriculture programs to assist states, units of local government, and private forest and farm landowners in the conservation of land and natural resources in that region.",
                  "summary_date": "2016-03-08T05:00:00",
                  "status_at": null,
                  "status": "REFERRED",
                  "source_url": "https://www.gpo.gov/fdsys/bulkdata/BILLSTATUS/114/s/BILLSTATUS-114s2652.xml",
                  "short_title": null,
                  "popular_title": null,
                  "official_title": "A bill to extend the authorization of the Highlands Conservation Act.",
                  "number": "2652",
                  "introduced_at": "2016-03-08",
                  "id": 1793,
                  "history": {
                    "vetoed": false,
                    "enacted": false,
                    "awaiting_signature": false,
                    "active": false
                  },
                  "gpo_id": "s2652-114",
                  "gpo_data_updated_at": "2016-11-02T23:46:18",
                  "full_text_url": null,
                  "enacted_as": null,
                  "enacted": false,
                  "congress_number": 114,
                  "committee_history": [
                    {
                      "committee_id": "SSEG",
                      "committee": "Senate Energy and Natural Resources",
                      "activity": [
                        "referral"
                      ]
                    }
                  ],
                  "awaiting_signature": false,
                  "amendments": [],
                  "active": false,
                  "actions": [
                    {
                      "type": "action",
                      "text": "Introduced in Senate",
                      "references": [],
                      "action_code": "10000",
                      "acted_at": "2016-03-08"
                    },
                    {
                      "type": "referral",
                      "text": "Read twice and referred to the Committee on Energy and Natural Resources.",
                      "status": "REFERRED",
                      "references": [],
                      "committees": [
                        "SSEG"
                      ],
                      "action_code": "",
                      "acted_at": "2016-03-08"
                    }
                  ]
                }
              ]
            }


## Group Tallies

Resources related congressional tallies (votes & questions on Bills).

## Tally [/api/tallies/{id}]

### Get Detailed Tally Information [GET]

+ Request
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id: `286` (number, required) - tallies' TALLY ID.

+ Response 200 (application/json)

            {
              "Yea": 346,
              "Not Voting": 21,
              "Nay": 66,
              "votes": [
                {
                  "value": "Yea",
                  "person": {
                    "last_name": "Zinke",
                    "is_current": true,
                    "image_url": "https://theunitedstates.io/images/congress/225x275/Z000018.jpg",
                    "id": 12312,
                    "first_name": "Ryan",
                    "current_state": "MT",
                    "current_party": "Democrat",
                    "current_office": "House",
                    "current_district": 0
                  },
                  "id": 105150
                },
                {
                  "value": "Not Voting",
                  "person": {
                    "last_name": "Pompeo",
                    "is_current": true,
                    "image_url": "https://theunitedstates.io/images/congress/225x275/P000602.jpg",
                    "id": 12105,
                    "first_name": "Mike",
                    "current_state": "KS",
                    "current_party": "Republican",
                    "current_office": "House",
                    "current_district": 4
                  },
                  "id": 104798
                },
                {
                  "value": "Nay",
                  "person": {
                    "last_name": "Mooney",
                    "is_current": true,
                    "image_url": "https://theunitedstates.io/images/congress/225x275/M001195.jpg",
                    "id": 12332,
                    "first_name": "Alex",
                    "current_state": "WV",
                    "current_party": "Republican",
                    "current_office": "House",
                    "current_district": 2
                  },
                  "id": 104763
                },
              ],
              "type": "On Motion to Suspend the Rules and Pass, as Amended",
              "treaty": null,
              "subject": "To amend the Violent Crime Control and Law Enforcement Act of 1994, to reauthorize the Missing Alzheimer’s Disease and Patient Alert Program, and to promote initiatives that will reduce the risk of injury and death relating to the wandering characteristics of some children with autism",
              "source_url": "http://clerk.house.gov/evs/2016/roll619.xml",
              "session": "2016",
              "result_text": "Passed",
              "result": "Passed",
              "requires": "2/3",
              "record_updated_at": null,
              "question": "On Motion to Suspend the Rules and Pass, as Amended: H R 4919 To amend the Violent Crime Control and Law Enforcement Act of 1994, to reauthorize the Missing Alzheimer’s Disease and Patient Alert Program, and to promote initiatives that will reduce the risk of injury and death relating to the wandering characteristics of some children with autism",
              "bill_official_title": "To amend the Violent Crime Control and Law Enforcement Act of 1994, to reauthorize the Missing Alzheimer's Disease Patient Alert Program, and to promote initiatives that will reduce the risk of injury and death relating to the wandering characteristics of some children with autism.",
              "bill_short_title": "Kevin and Avonte's Law of 2016",
              "number": 619,
              "id": 286,
              "gpo_id": "h619-114.2016",
              "date": "2016-12-08T10:50:00",
              "chamber": "House",
              "category": "passage-suspension",
              "bill_id": 10867,
              "amendment": null
            }

## Group Bills

Resources related congressional bills & resolutions.

## Bill [/api/bills/{id}]

### Get Detailed Bill Information [GET]

+ Request
    + Headers

            Authorization: Bearer <token>

+ Parameters
    + id: `7141` (number, required) - bill's BILL ID.

+ Response 200 (application/json)

            {
              "short_title": "Kevin and Avonte's Law of 2016",
              "summary_date": "2016-04-12T04:00:00",
              "congress_number": 114,
              "vetoed": false,
              "titles": [
                {
                "type": "short",
                "title": "Kevin and Avonte's Law of 2016",
                "is_for_portion": false,
                "as": "introduced"
                },
              ],
              "id": 10867,
              "popular_title": null,
              "committee_history": [
                {
                  "committee_id": "HSED",
                  "committee": "House Education and the Workforce",
                  "activity": [
                    "referral"
                  ]
                },
              ],
              "number": "4919",
              "history": {
                "vetoed": false,
                "house_passage_result_at": "2016-12-08T10:51:13-05:00",
                "house_passage_result": "pass",
                "enacted": false,
                "awaiting_signature": false,
                "active_at": "2016-12-07T18:01:18-05:00",
                "active": true
              },
              "enacted": false,
              "subjects": [
                "Right of privacy",
                "Neurological disorders"
              ],
              "sponsor": {
                "maplight": "469",
                "is_current": true,
                "wikipedia": "Chris Smith (New Jersey politician)",
                "image_url": "https://theunitedstates.io/images/congress/225x275/S000522.jpg",
                "gender": "M",
                "google_entity_id": "kg:/m/033f4d",
                "facebook": "RepChrisSmith",
                "id": 12157,
                "bioguide": "S000522",
                "first_name": "Christopher",
                "lis": null,
                "terms": [
                  {
                    "url": "http://chrissmith.house.gov",
                    "type": "House",
                    "state_rank": null,
                    "state": "NJ",
                    "start": "2017-01-03",
                    "rss_url": "http://chrissmith.house.gov/news/rss.aspx",
                    "phone": "202-225-3765",
                    "party_affiliations": null,
                    "party": "Republican",
                    "office": "2373 Rayburn House Office Building",
                    "is_current": null,
                    "id": 42753,
                    "fax": null,
                    "end": "2019-01-03",
                    "district": 4,
                    "contact_form": "https://chrissmith.house.gov/contact/write.htm",
                    "class": null,
                    "caucus": null,
                    "address": "2373 Rayburn HOB; Washington DC 20515-3004"
                  },
                ],
                "religion": "Roman Catholic",
                "instagram_id": "",
                "wikidata": "Q981167",
                "thomas": "01071",
                "current_office": "House",
                "house_history": "21787",
                "votesmart": "26952",
                "last_name": "Smith",
                "current_district": 4,
                "cspan": "6411",
                "twitter": "RepChrisSmith",
                "twitter_id": "1289319271",
                "icpsr": "14863",
                "current_state": "NJ",
                "current_party": "Democrat",
                "youtube_id": "UCtCNUDo3-I1gsd_03ppDfZg",
                "bio": null,
                "instagram": "",
                "opensecrets": "N00009816",
                "official_full_name": "Christopher H. Smith",
                "ballotpedia": null,
                "youtube": "USRepChrisSmith",
                "facebook_id": "371621772908416",
                "birthday": "1953-03-04"
              },
              "tallies": [
                {
                  "Yea": 346,
                  "Not Voting": 21,
                  "Nay": 66,
                  "votes": [
                    {
                      "value": "Yea",
                      "person": {
                        "last_name": "Zinke",
                        "is_current": true,
                        "image_url": "https://theunitedstates.io/images/congress/225x275/Z000018.jpg",
                        "id": 12312,
                        "first_name": "Ryan",
                        "current_state": "MT",
                        "current_party": "Democrat",
                        "current_office": "House",
                        "current_district": 0
                      },
                      "id": 105150
                    },
                  ],
                  "type": "On Motion to Suspend the Rules and Pass, as Amended",
                  "treaty": null,
                  "subject": "To amend the Violent Crime Control and Law Enforcement Act of 1994, to reauthorize the Missing Alzheimer’s Disease and Patient Alert Program, and to promote initiatives that will reduce the risk of injury and death relating to the wandering characteristics of some children with autism",
                  "bill_official_title": "To amend the Violent Crime Control and Law Enforcement Act of 1994, to reauthorize the Missing Alzheimer's Disease Patient Alert Program, and to promote initiatives that will reduce the risk of injury and death relating to the wandering characteristics of some children with autism.",
                  "bill_short_title": "Kevin and Avonte's Law of 2016",
                  "source_url": "http://clerk.house.gov/evs/2016/roll619.xml",
                  "session": "2016",
                  "result_text": "Passed",
                  "result": "Passed",
                  "requires": "2/3",
                  "record_updated_at": null,
                  "question": "On Motion to Suspend the Rules and Pass, as Amended: H R 4919 To amend the Violent Crime Control and Law Enforcement Act of 1994, to reauthorize the Missing Alzheimer’s Disease and Patient Alert Program, and to promote initiatives that will reduce the risk of injury and death relating to the wandering characteristics of some children with autism",
                  "number": 619,
                  "id": 286,
                  "gpo_id": "h619-114.2016",
                  "date": "2016-12-08T10:50:00",
                  "chamber": "House",
                  "category": "passage-suspension",
                  "bill_id": 10867,
                  "amendment": null
                }
              ],
              "gpo_data_updated_at": "2017-01-17T12:34:41",
              "awaiting_signature": false,
              "gpo_id": "hr4919-114",
              "official_title": "To amend the Violent Crime Control and Law Enforcement Act of 1994, to reauthorize the Missing Alzheimer's Disease Patient Alert Program, and to promote initiatives that will reduce the risk of injury and death relating to the wandering characteristics of some children with autism.",
              "active": true,
              "committees": [
                {
                  "url": "http://judiciary.house.gov/",
                  "type": "house",
                  "thomas_id": "HSJU",
                  "senate_committee_id": null,
                  "rss_url": null,
                  "phone": "(202) 225-3951",
                  "past_names": null,
                  "name": "House Committee on the Judiciary",
                  "minority_rss_url": "http://democrats.judiciary.house.gov/rss.xml",
                  "jurisdiction_source": "http://judiciary.house.gov/index.cfm/about-the-committee",
                  "jurisdiction": "The Committee on the Judiciary has been called the lawyer for the House of Representatives because of its jurisdiction over matters relating to the administration of justice in federal courts, administrative bodies, and law enforcement agencies. Its infrequent but important role in impeachment proceedings has also brought it much attention.",
                  "id": 14,
                  "house_committee_id": "JU",
                  "address": "2138 RHOB; Washington, DC 20515-6216"
                },
              ],
              "enacted_as": null,
              "top_term": "Crime and law enforcement",
              "related_bills": [
                {
                  "related_bill_id": 3329,
                  "reason": "identical"
                }
              ],
              "type": "hr",
              "status": "PASS_OVER:HOUSE",
              "cosponsors": [
                {
                  "maplight": "2084",
                  "is_current": true,
                  "wikipedia": "David Young (Iowa politician)",
                  "image_url": "https://theunitedstates.io/images/congress/225x275/Y000066.jpg",
                  "gender": "M",
                  "google_entity_id": "kg:/m/0127pc92",
                  "facebook": "RepDavidYoung",
                  "id": 12300,
                  "bioguide": "Y000066",
                  "first_name": "David",
                  "lis": null,
                  "terms": [
                    {
                      "url": "https://davidyoung.house.gov",
                      "type": "House",
                      "state_rank": null,
                      "state": "IA",
                      "start": "2017-01-03",
                      "rss_url": null,
                      "phone": "202-225-5476",
                      "party_affiliations": null,
                      "party": "Republican",
                      "office": "240 Cannon House Office Building",
                      "is_current": null,
                      "id": 43356,
                      "fax": null,
                      "end": "2019-01-03",
                      "district": 3,
                      "contact_form": "https://davidyoung.house.gov/contact",
                      "class": null,
                      "caucus": null,
                      "address": "240 Cannon HOB; Washington DC 20515-1503"
                    }
                  ],
                  "religion": null,
                  "instagram_id": "",
                  "wikidata": "Q19321008",
                  "thomas": "02242",
                  "current_office": "House",
                  "house_history": null,
                  "votesmart": null,
                  "last_name": "Young",
                  "current_district": 3,
                  "cspan": null,
                  "twitter": "RepDavidYoung",
                  "twitter_id": "314205957",
                  "icpsr": null,
                  "current_state": "IA",
                  "current_party": "Republican",
                  "youtube_id": "",
                  "bio": null,
                  "instagram": "",
                  "opensecrets": "N00035509",
                  "official_full_name": "David Young",
                  "ballotpedia": null,
                  "youtube": "",
                  "facebook_id": "",
                  "birthday": "1968-05-11"
                }
              ],
              "actions": [
                {
                  "type": "action",
                  "text": "Motion to reconsider laid on the table Agreed to without objection.",
                  "references": [],
                  "action_code": "H38310",
                  "acted_at": "2016-12-08T10:51:14-05:00"
                },
                {
                  "where": "h",
                  "vote_type": "vote",
                  "type": "vote",
                  "text": "On motion to suspend the rules and pass the bill, as amended Agreed to by the Yeas and Nays: (2/3 required): 346 - 66 (Roll no. 619).",
                  "suspension": true,
                  "status": "PASS_OVER:HOUSE",
                  "roll": "619",
                  "result": "pass",
                  "references": [
                    {
                      "type": "text",
                      "reference": "CR 12/7/2016 H7333-7335"
                    }
                  ],
                  "how": "roll",
                  "action_code": "H37300",
                  "acted_at": "2016-12-08T10:51:13-05:00"
                }
              ],
              "full_text_url": null,
               "introduced_at": "2016-04-12",
               "amendments": [],
               "source_url": "https://www.gpo.gov/fdsys/bulkdata/BILLSTATUS/114/hr/BILLSTATUS-114hr4919.xml",
               "summary_text": "Kevin and Avonte's Law of 2016Missing Americans Alert Program Act of 2016This bill amends the Violent Crime Control and Law Enforcement Act of 1994 to revise and rename the Missing Alzheimer's Disease Patient Alert Program as the Missing Americans Alert Program and to reauthorize it through FY2021.It directs the Department of Justice's (DOJ's) Bureau of Justice Assistance to award grants to state and local law enforcement or public safety agencies and nonprofit organizations to prevent wandering and locate missing individuals with dementia or developmental disabilities.DOJ must establish and certain grant recipients must comply with standards and best practices related to the use of tracking technology to locate missing individuals with dementia or developmental disabilities.The bill amends the Missing Children's Assistance Act to specify that, with respect to training and technical assistance provided by the National Center for Missing and Exploited Children, cases involving missing and exploited children include cases involving children with developmental disabilities such as autism.",
               "status_at": "2016-12-08T10:51:13"
              }

## Group Feedback

Get a list of questions and respond with feedback

## Feedback [/api/feedback]

### Get Feedback Questions [GET]

+ Request
    + Headers

            Authorization: Bearer <token>

+ Response 200 (application/json)

            {
              "questions": [
                "Does Donald Trump resemble a rotten pumpkin?",
                "How could Kratos be improved?"
              ]
            }

### Post Feedback Answers [POST]

The request body should match this example with the question as a string and the value set to the feedback answer.
```
  {
    "answers": {
      "Does Donald Trump resemble a rotten pumpkin?": "HELL YES",
      "How could Kratos be improved?": "ALOT"
    },
    "user-id": 1
  }
```

+ Request (application/json)
    + Headers

            Authorization: Bearer <token>

    + Attributes(object)

        + `user-id`: `4` (number, required)
        + questions
          + `Does Donald Trump resemble a rotten pumpkin?`: `HELL YES!` (string, required)

+ Response 200 (application/json)

              {
                "ok":true
              }
